# Table of Contents
 <p><div class="lev1 toc-item"><a href="#Gender-dynamics" data-toc-modified-id="Gender-dynamics-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Gender dynamics</a></div><div class="lev2 toc-item"><a href="#Tweet-data-prep" data-toc-modified-id="Tweet-data-prep-11"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Tweet data prep</a></div><div class="lev3 toc-item"><a href="#Load-the-tweets" data-toc-modified-id="Load-the-tweets-111"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>Load the tweets</a></div><div class="lev2 toc-item"><a href="#Tweet-analysis" data-toc-modified-id="Tweet-analysis-12"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Tweet analysis</a></div><div class="lev3 toc-item"><a href="#First-and-last-tweet-in-dataset" data-toc-modified-id="First-and-last-tweet-in-dataset-121"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>First and last tweet in dataset</a></div><div class="lev3 toc-item"><a href="#Number-of-tweets-in-dataset" data-toc-modified-id="Number-of-tweets-in-dataset-122"><span class="toc-item-num">1.2.2&nbsp;&nbsp;</span>Number of tweets in dataset</a></div><div class="lev2 toc-item"><a href="#Tweeter-data-prep" data-toc-modified-id="Tweeter-data-prep-13"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Tweeter data prep</a></div><div class="lev2 toc-item"><a href="#Prepare-the-tweeter-data" data-toc-modified-id="Prepare-the-tweeter-data-14"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Prepare the tweeter data</a></div><div class="lev3 toc-item"><a href="#Load-user-lookup" data-toc-modified-id="Load-user-lookup-141"><span class="toc-item-num">1.4.1&nbsp;&nbsp;</span>Load user lookup</a></div><div class="lev3 toc-item"><a href="#Tweets-in-dataset-per-tweeter" data-toc-modified-id="Tweets-in-dataset-per-tweeter-142"><span class="toc-item-num">1.4.2&nbsp;&nbsp;</span>Tweets in dataset per tweeter</a></div><div class="lev3 toc-item"><a href="#Load-user-info" data-toc-modified-id="Load-user-info-143"><span class="toc-item-num">1.4.3&nbsp;&nbsp;</span>Load user info</a></div><div class="lev3 toc-item"><a href="#Remove-users-with-no-tweets-in-dataset" data-toc-modified-id="Remove-users-with-no-tweets-in-dataset-144"><span class="toc-item-num">1.4.4&nbsp;&nbsp;</span>Remove users with no tweets in dataset</a></div><div class="lev2 toc-item"><a href="#Tweeter-analysis" data-toc-modified-id="Tweeter-analysis-15"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Tweeter analysis</a></div><div class="lev3 toc-item"><a href="#Gender" data-toc-modified-id="Gender-151"><span class="toc-item-num">1.5.1&nbsp;&nbsp;</span>Gender</a></div><div class="lev3 toc-item"><a href="#Summary" data-toc-modified-id="Summary-152"><span class="toc-item-num">1.5.2&nbsp;&nbsp;</span>Summary</a></div><div class="lev4 toc-item"><a href="#All" data-toc-modified-id="All-1521"><span class="toc-item-num">1.5.2.1&nbsp;&nbsp;</span>All</a></div><div class="lev4 toc-item"><a href="#Female" data-toc-modified-id="Female-1522"><span class="toc-item-num">1.5.2.2&nbsp;&nbsp;</span>Female</a></div><div class="lev4 toc-item"><a href="#Male" data-toc-modified-id="Male-1523"><span class="toc-item-num">1.5.2.3&nbsp;&nbsp;</span>Male</a></div><div class="lev3 toc-item"><a href="#Verified" data-toc-modified-id="Verified-153"><span class="toc-item-num">1.5.3&nbsp;&nbsp;</span>Verified</a></div><div class="lev4 toc-item"><a href="#All" data-toc-modified-id="All-1531"><span class="toc-item-num">1.5.3.1&nbsp;&nbsp;</span>All</a></div><div class="lev4 toc-item"><a href="#Female" data-toc-modified-id="Female-1532"><span class="toc-item-num">1.5.3.2&nbsp;&nbsp;</span>Female</a></div><div class="lev4 toc-item"><a href="#Male" data-toc-modified-id="Male-1533"><span class="toc-item-num">1.5.3.3&nbsp;&nbsp;</span>Male</a></div><div class="lev2 toc-item"><a href="#Mention-data-prep" data-toc-modified-id="Mention-data-prep-16"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>Mention data prep</a></div><div class="lev3 toc-item"><a href="#Load-mentions-from-tweets" data-toc-modified-id="Load-mentions-from-tweets-161"><span class="toc-item-num">1.6.1&nbsp;&nbsp;</span>Load mentions from tweets</a></div><div class="lev3 toc-item"><a href="#Add-gender-of-mentioner" data-toc-modified-id="Add-gender-of-mentioner-162"><span class="toc-item-num">1.6.2&nbsp;&nbsp;</span>Add gender of mentioner</a></div><div class="lev3 toc-item"><a href="#Distinct-tweets" data-toc-modified-id="Distinct-tweets-163"><span class="toc-item-num">1.6.3&nbsp;&nbsp;</span>Distinct tweets</a></div><div class="lev3 toc-item"><a href="#Distinct-mentioned-users" data-toc-modified-id="Distinct-mentioned-users-164"><span class="toc-item-num">1.6.4&nbsp;&nbsp;</span>Distinct mentioned users</a></div><div class="lev3 toc-item"><a href="#Functions-for-summarizing-mentions-by-beltway-journalists" data-toc-modified-id="Functions-for-summarizing-mentions-by-beltway-journalists-165"><span class="toc-item-num">1.6.5&nbsp;&nbsp;</span>Functions for summarizing mentions by beltway journalists</a></div><div class="lev2 toc-item"><a href="#Mentioned-analysis" data-toc-modified-id="Mentioned-analysis-17"><span class="toc-item-num">1.7&nbsp;&nbsp;</span>Mentioned analysis</a></div><div class="lev3 toc-item"><a href="#Original-tweets-by-gender" data-toc-modified-id="Original-tweets-by-gender-171"><span class="toc-item-num">1.7.1&nbsp;&nbsp;</span>Original tweets by gender</a></div><div class="lev3 toc-item"><a href="#All-mentioned-by-beltway-journalists" data-toc-modified-id="All-mentioned-by-beltway-journalists-172"><span class="toc-item-num">1.7.2&nbsp;&nbsp;</span>All mentioned by beltway journalists</a></div><div class="lev3 toc-item"><a href="#All-beltway-journalists-mentioned-by-beltway-journalists" data-toc-modified-id="All-beltway-journalists-mentioned-by-beltway-journalists-173"><span class="toc-item-num">1.7.3&nbsp;&nbsp;</span>All beltway journalists mentioned by beltway journalists</a></div><div class="lev3 toc-item"><a href="#Female-beltway-journalists-mentioned-by-beltway-journalists" data-toc-modified-id="Female-beltway-journalists-mentioned-by-beltway-journalists-174"><span class="toc-item-num">1.7.4&nbsp;&nbsp;</span>Female beltway journalists mentioned by beltway journalists</a></div><div class="lev3 toc-item"><a href="#Male-beltway-journalists-mentioned-by-beltway-journalists" data-toc-modified-id="Male-beltway-journalists-mentioned-by-beltway-journalists-175"><span class="toc-item-num">1.7.5&nbsp;&nbsp;</span>Male beltway journalists mentioned by beltway journalists</a></div><div class="lev3 toc-item"><a href="#Beltway-journalists-mentioned-by-female-beltway-journalists" data-toc-modified-id="Beltway-journalists-mentioned-by-female-beltway-journalists-176"><span class="toc-item-num">1.7.6&nbsp;&nbsp;</span>Beltway journalists mentioned by female beltway journalists</a></div><div class="lev3 toc-item"><a href="#Beltway-journalists-mentioned-by-male-beltway-journalists" data-toc-modified-id="Beltway-journalists-mentioned-by-male-beltway-journalists-177"><span class="toc-item-num">1.7.7&nbsp;&nbsp;</span>Beltway journalists mentioned by male beltway journalists</a></div><div class="lev2 toc-item"><a href="#Retweet-data-prep" data-toc-modified-id="Retweet-data-prep-18"><span class="toc-item-num">1.8&nbsp;&nbsp;</span>Retweet data prep</a></div><div class="lev3 toc-item"><a href="#Load-retweets-from-tweets" data-toc-modified-id="Load-retweets-from-tweets-181"><span class="toc-item-num">1.8.1&nbsp;&nbsp;</span>Load retweets from tweets</a></div><div class="lev3 toc-item"><a href="#Add-gender-of-retweeter" data-toc-modified-id="Add-gender-of-retweeter-182"><span class="toc-item-num">1.8.2&nbsp;&nbsp;</span>Add gender of retweeter</a></div><div class="lev3 toc-item"><a href="#Distinct-retweeted-users" data-toc-modified-id="Distinct-retweeted-users-183"><span class="toc-item-num">1.8.3&nbsp;&nbsp;</span>Distinct retweeted users</a></div><div class="lev3 toc-item"><a href="#Functions-for-summarizing-retweets-by-beltway-journalists" data-toc-modified-id="Functions-for-summarizing-retweets-by-beltway-journalists-184"><span class="toc-item-num">1.8.4&nbsp;&nbsp;</span>Functions for summarizing retweets by beltway journalists</a></div><div class="lev2 toc-item"><a href="#Retweet-analysis" data-toc-modified-id="Retweet-analysis-19"><span class="toc-item-num">1.9&nbsp;&nbsp;</span>Retweet analysis</a></div><div class="lev3 toc-item"><a href="#Retweets-and-quotes-by-gender" data-toc-modified-id="Retweets-and-quotes-by-gender-191"><span class="toc-item-num">1.9.1&nbsp;&nbsp;</span>Retweets and quotes by gender</a></div><div class="lev3 toc-item"><a href="#All-retweeted-by-beltway-journalists" data-toc-modified-id="All-retweeted-by-beltway-journalists-192"><span class="toc-item-num">1.9.2&nbsp;&nbsp;</span>All retweeted by beltway journalists</a></div><div class="lev3 toc-item"><a href="#All-beltway-journalists-retweeted-by-beltway-journalists" data-toc-modified-id="All-beltway-journalists-retweeted-by-beltway-journalists-193"><span class="toc-item-num">1.9.3&nbsp;&nbsp;</span>All beltway journalists retweeted by beltway journalists</a></div><div class="lev3 toc-item"><a href="#Female-beltway-journalists-retweeted-by-beltway-journalists" data-toc-modified-id="Female-beltway-journalists-retweeted-by-beltway-journalists-194"><span class="toc-item-num">1.9.4&nbsp;&nbsp;</span>Female beltway journalists retweeted by beltway journalists</a></div><div class="lev3 toc-item"><a href="#Male-beltway-journalists-retweeted-by-beltway-journalists" data-toc-modified-id="Male-beltway-journalists-retweeted-by-beltway-journalists-195"><span class="toc-item-num">1.9.5&nbsp;&nbsp;</span>Male beltway journalists retweeted by beltway journalists</a></div><div class="lev3 toc-item"><a href="#Beltway-journalists-retweeted-by-female-beltway-journalists" data-toc-modified-id="Beltway-journalists-retweeted-by-female-beltway-journalists-196"><span class="toc-item-num">1.9.6&nbsp;&nbsp;</span>Beltway journalists retweeted by female beltway journalists</a></div><div class="lev3 toc-item"><a href="#Beltway-journalists-retweeted-by-male-beltway-journalists" data-toc-modified-id="Beltway-journalists-retweeted-by-male-beltway-journalists-197"><span class="toc-item-num">1.9.7&nbsp;&nbsp;</span>Beltway journalists retweeted by male beltway journalists</a></div><div class="lev2 toc-item"><a href="#Reply-data-prep" data-toc-modified-id="Reply-data-prep-110"><span class="toc-item-num">1.10&nbsp;&nbsp;</span>Reply data prep</a></div><div class="lev3 toc-item"><a href="#Load-replies-from-tweets" data-toc-modified-id="Load-replies-from-tweets-1101"><span class="toc-item-num">1.10.1&nbsp;&nbsp;</span>Load replies from tweets</a></div><div class="lev3 toc-item"><a href="#Add-gender-of-replier" data-toc-modified-id="Add-gender-of-replier-1102"><span class="toc-item-num">1.10.2&nbsp;&nbsp;</span>Add gender of replier</a></div><div class="lev3 toc-item"><a href="#Distinct-replied-to-users" data-toc-modified-id="Distinct-replied-to-users-1103"><span class="toc-item-num">1.10.3&nbsp;&nbsp;</span>Distinct replied to users</a></div><div class="lev3 toc-item"><a href="#Functions-for-summarizing-replies-by-beltway-journalists" data-toc-modified-id="Functions-for-summarizing-replies-by-beltway-journalists-1104"><span class="toc-item-num">1.10.4&nbsp;&nbsp;</span>Functions for summarizing replies by beltway journalists</a></div><div class="lev2 toc-item"><a href="#Reply-analysis" data-toc-modified-id="Reply-analysis-111"><span class="toc-item-num">1.11&nbsp;&nbsp;</span>Reply analysis</a></div><div class="lev3 toc-item"><a href="#Retweets-and-quotes-by-gender" data-toc-modified-id="Retweets-and-quotes-by-gender-1111"><span class="toc-item-num">1.11.1&nbsp;&nbsp;</span>Retweets and quotes by gender</a></div><div class="lev3 toc-item"><a href="#All-retweeted-by-beltway-journalists" data-toc-modified-id="All-retweeted-by-beltway-journalists-1112"><span class="toc-item-num">1.11.2&nbsp;&nbsp;</span>All retweeted by beltway journalists</a></div><div class="lev3 toc-item"><a href="#Female-beltway-journalists-replied-to-by-beltway-journalists" data-toc-modified-id="Female-beltway-journalists-replied-to-by-beltway-journalists-1113"><span class="toc-item-num">1.11.3&nbsp;&nbsp;</span>Female beltway journalists replied to by beltway journalists</a></div><div class="lev3 toc-item"><a href="#Male-beltway-journalists-replied-to-by-beltway-journalists" data-toc-modified-id="Male-beltway-journalists-replied-to-by-beltway-journalists-1114"><span class="toc-item-num">1.11.4&nbsp;&nbsp;</span>Male beltway journalists replied to by beltway journalists</a></div><div class="lev3 toc-item"><a href="#Beltway-journalists-replied-to-by-female-beltway-journalists" data-toc-modified-id="Beltway-journalists-replied-to-by-female-beltway-journalists-1115"><span class="toc-item-num">1.11.5&nbsp;&nbsp;</span>Beltway journalists replied to by female beltway journalists</a></div><div class="lev3 toc-item"><a href="#Beltway-journalists-replied-to-by-male-beltway-journalists" data-toc-modified-id="Beltway-journalists-replied-to-by-male-beltway-journalists-1116"><span class="toc-item-num">1.11.6&nbsp;&nbsp;</span>Beltway journalists replied to by male beltway journalists</a></div><div class="lev2 toc-item"><a href="#Following-data-prep" data-toc-modified-id="Following-data-prep-112"><span class="toc-item-num">1.12&nbsp;&nbsp;</span>Following data prep</a></div><div class="lev3 toc-item"><a href="#Load-following" data-toc-modified-id="Load-following-1121"><span class="toc-item-num">1.12.1&nbsp;&nbsp;</span>Load following</a></div><div class="lev3 toc-item"><a href="#Load-followed-users" data-toc-modified-id="Load-followed-users-1122"><span class="toc-item-num">1.12.2&nbsp;&nbsp;</span>Load followed users</a></div><div class="lev3 toc-item"><a href="#Functions-for-summarizing-following-by-beltway-journalists" data-toc-modified-id="Functions-for-summarizing-following-by-beltway-journalists-1123"><span class="toc-item-num">1.12.3&nbsp;&nbsp;</span>Functions for summarizing following by beltway journalists</a></div><div class="lev2 toc-item"><a href="#Following-analysis" data-toc-modified-id="Following-analysis-113"><span class="toc-item-num">1.13&nbsp;&nbsp;</span>Following analysis</a></div><div class="lev3 toc-item"><a href="#All-followed-by-beltway-journalists" data-toc-modified-id="All-followed-by-beltway-journalists-1131"><span class="toc-item-num">1.13.1&nbsp;&nbsp;</span>All followed by beltway journalists</a></div><div class="lev3 toc-item"><a href="#All-beltway-journalists-followed-by-beltway-journalists" data-toc-modified-id="All-beltway-journalists-followed-by-beltway-journalists-1132"><span class="toc-item-num">1.13.2&nbsp;&nbsp;</span>All beltway journalists followed by beltway journalists</a></div><div class="lev3 toc-item"><a href="#Female-beltway-journalists-followed-by-beltway-journalists" data-toc-modified-id="Female-beltway-journalists-followed-by-beltway-journalists-1133"><span class="toc-item-num">1.13.3&nbsp;&nbsp;</span>Female beltway journalists followed by beltway journalists</a></div><div class="lev3 toc-item"><a href="#Male-beltway-journalists-followed-by-beltway-journalists" data-toc-modified-id="Male-beltway-journalists-followed-by-beltway-journalists-1134"><span class="toc-item-num">1.13.4&nbsp;&nbsp;</span>Male beltway journalists followed by beltway journalists</a></div><div class="lev3 toc-item"><a href="#Beltway-journalists-followed-by-female-beltway-journalists" data-toc-modified-id="Beltway-journalists-followed-by-female-beltway-journalists-1135"><span class="toc-item-num">1.13.5&nbsp;&nbsp;</span>Beltway journalists followed by female beltway journalists</a></div><div class="lev3 toc-item"><a href="#Beltway-journalists-followed-by-male-beltway-journalists" data-toc-modified-id="Beltway-journalists-followed-by-male-beltway-journalists-1136"><span class="toc-item-num">1.13.6&nbsp;&nbsp;</span>Beltway journalists followed by male beltway journalists</a></div>

# Gender dynamics

## Tweet data prep

### Load the tweets

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import logging
from dateutil.parser import parse as date_parse
from utils import load_tweet_df, tweet_type
import matplotlib.pyplot as plt


logger = logging.getLogger()
logger.setLevel(logging.DEBUG)

# Set float format so doesn't display scientific notation
pd.options.display.float_format = '{:20,.2f}'.format

def tweet_transform(tweet):
    return {
        'tweet_id': tweet['id_str'], 
        'tweet_created_at': date_parse(tweet['created_at']),
        'user_id': tweet['user']['id_str'],
        'screen_name': tweet['user']['screen_name'],
        'tweet_type': tweet_type(tweet)
    }

tweet_df = load_tweet_df(tweet_transform, ['tweet_id', 'user_id', 'screen_name', 'tweet_created_at', 'tweet_type'], dedupe_columns=['tweet_id'])
tweet_df.count()

INFO:root:Loading from tweets/41feff28312c433ab004cd822212f4c2_001.json.gz
DEBUG:root:Loaded 50000
DEBUG:root:Loaded 100000
DEBUG:root:Loaded 150000
DEBUG:root:Loaded 200000
DEBUG:root:Loaded 250000
DEBUG:root:Loaded 300000
INFO:root:Loading from tweets/642bf140607547cb9d4c6b1fc49772aa_001.json.gz
DEBUG:root:Loaded 350000
DEBUG:root:Loaded 400000
DEBUG:root:Loaded 450000
DEBUG:root:Loaded 500000
DEBUG:root:Loaded 550000
INFO:root:Loading from tweets/9f7ed17c16a1494c8690b4053609539d_001.json.gz
DEBUG:root:Loaded 600000
DEBUG:root:Loaded 650000
DEBUG:root:Loaded 700000
DEBUG:root:Loaded 750000
DEBUG:root:Loaded 800000

tweet_id            817136
user_id             817136
screen_name         817136
tweet_created_at    817136
tweet_type          817136
dtype: int64

In [2]:
tweet_df.head()

,tweet_id,user_id,screen_name,tweet_created_at,tweet_type
0,875028934177542144,15731368,HowardKurtz,2017-06-14 16:35:29+00:00,original
1,875012559228874752,15731368,HowardKurtz,2017-06-14 15:30:25+00:00,retweet
2,875012374343929862,15731368,HowardKurtz,2017-06-14 15:29:41+00:00,original
3,875010759759101952,15731368,HowardKurtz,2017-06-14 15:23:16+00:00,retweet
4,875010163496939520,15731368,HowardKurtz,2017-06-14 15:20:54+00:00,retweet

## Tweet analysis

### First and last tweet in dataset

In [3]:
tweet_df.tweet_created_at.min()

Timestamp('2017-06-01 04:00:01+0000', tz='UTC')

In [4]:
tweet_df.tweet_created_at.max()

Timestamp('2017-08-01 03:59:58+0000', tz='UTC')

### Number of tweets in dataset

In [5]:
pd.DataFrame({'count':tweet_df.tweet_type.value_counts(), 
              'percentage':tweet_df.tweet_type.value_counts(normalize=True).mul(100).round(1).astype(str) + '%'})

           count percentage
retweet   345266      42.3%
original  233926      28.6%
reply     126254      15.5%
quote     111690      13.7%

## Tweeter data prep

## Prepare the tweeter data
This comes from the following sources:
1. User lookup: These are lists of users exported from SFM. These are the final set of beltway journalists. Accounts that were suspended or deleted have been removed from this list. Also, this list will include users that did not tweet (i.e., have no tweets in dataset).
2. Tweets in the dataset: Used to generate tweet counts per tweeter. However, since some beltway journalists may not have tweeted, this may be a subset of the user lookup. Also, it may include the tweets of some users that were later excluded because their accounts were suspended or deleted or determined to not be beltway journalists.
3. User info lookup: Information on users that was manually coded in the beltway journalist spreadsheet or looked up from Twitter's API. This includes some accounts that were excluded from data collection for various reasons such as working for a foreign news organization or no longer working as a beltway journalist. Thus, these are a superset of the user lookup.

Thus, the tweeter data should include tweet and user info data only from users in the user lookup.

### Load user lookup

In [6]:
user_lookup_filepaths = ('lookups/senate_press_lookup.csv',
                         'lookups/periodical_press_lookup.csv',
                         'lookups/radio_and_television_lookup.csv')
user_lookup_df = pd.concat((pd.read_csv(user_lookup_filepath, usecols=['Uid', 'Token'], dtype={'Uid': str}) for user_lookup_filepath in user_lookup_filepaths))
user_lookup_df.set_index('Uid', inplace=True)
user_lookup_df.rename(columns={'Token': 'screen_name'}, inplace=True)
user_lookup_df.index.names = ['user_id']
# Some users may be in multiple lists, so need to drop duplicates
user_lookup_df = user_lookup_df[~user_lookup_df.index.duplicated()]

user_lookup_df.count()

screen_name    2487
dtype: int64

In [7]:
user_lookup_df.head()

             screen_name
user_id
23455653         abettel
33919343   AshleyRParker
18580432          b_fung
399225358         b_muzz
18834692   becca_milfeld

### Tweets in dataset per tweeter

In [8]:
user_tweet_count_df = tweet_df[['user_id', 'tweet_type']].groupby(['user_id', 'tweet_type']).size().unstack()
user_tweet_count_df.fillna(0, inplace=True)
user_tweet_count_df['tweets_in_dataset'] = user_tweet_count_df.original + user_tweet_count_df.quote + user_tweet_count_df.reply + user_tweet_count_df.retweet
user_tweet_count_df.count()

tweet_type
original             2292
quote                2292
reply                2292
retweet              2292
tweets_in_dataset    2292
dtype: int64

In [9]:
user_tweet_count_df.head()

tweet_type,original,quote,reply,retweet,tweets_in_dataset
user_id,,,,,
1001991865,13.00,3.00,1.00,31.00,48.00
1002229862,48.00,20.00,3.00,118.00,189.00
100270054,1.00,0.00,0.00,0.00,1.00
100802089,4.00,7.00,12.00,17.00,40.00
100860790,102.00,26.00,4.00,166.00,298.00

### Load user info

In [10]:
user_info_df = pd.read_csv('source_data/user_info_lookup.csv', names=['user_id', 'name', 'organization', 'position',
                                            'gender', 'followers_count', 'following_count', 'tweet_count',
                                            'user_created_at', 'verified', 'protected'],
                          dtype={'user_id': str}).set_index(['user_id'])
user_info_df.count()

name               2506
organization       2477
position           2503
gender             2505
followers_count    2506
following_count    2506
tweet_count        2506
user_created_at    2506
verified           2506
protected          2506
dtype: int64

In [11]:
user_info_df.head()

,name,organization,position,gender,followers_count,following_count,tweet_count,user_created_at,verified,protected
user_id,,,,,,,,,,
20711445,"Glinski, Nina",NaN,Freelance Reporter,F,963,507,909,Thu Feb 12 20:00:53 +0000 2009,False,False
258917371,"Enders, David",NaN,Journalist,M,1444,484,6296,Mon Feb 28 19:52:03 +0000 2011,True,False
297046834,"Barakat, Matthew",Associated Press,Northern Virginia Correspondent,M,759,352,631,Wed May 11 20:55:24 +0000 2011,True,False
455585786,"Atkins, Kimberly",Boston Herald,Chief Washington Reporter/Columnist,F,2944,2691,6277,Thu Jan 05 08:26:46 +0000 2012,True,False
42584840,"Vlahou, Toula",CQ Roll Call,Editor & Podcast Producer,F,2703,201,6366,Tue May 26 07:41:38 +0000 2009,False,False

In [12]:
user_summary_df = user_lookup_df.join((user_info_df, user_tweet_count_df), how='left')
# Fill Nans
user_summary_df['organization'].fillna('', inplace=True)
user_summary_df['original'].fillna(0, inplace=True)
user_summary_df['quote'].fillna(0, inplace=True)
user_summary_df['reply'].fillna(0, inplace=True)
user_summary_df['retweet'].fillna(0, inplace=True)
user_summary_df['tweets_in_dataset'].fillna(0, inplace=True)
user_summary_df.count()

screen_name          2487
name                 2487
organization         2487
position             2484
gender               2486
followers_count      2487
following_count      2487
tweet_count          2487
user_created_at      2487
verified             2487
protected            2487
original             2487
quote                2487
reply                2487
retweet              2487
tweets_in_dataset    2487
dtype: int64

In [13]:
user_summary_df.head()

,screen_name,name,organization,position,gender,followers_count,following_count,tweet_count,user_created_at,verified,protected,original,quote,reply,retweet,tweets_in_dataset
user_id,,,,,,,,,,,,,,,,
23455653,abettel,"Bettelheim, Adriel",Politico,Health Care Editor,F,2664,1055,15990,Mon Mar 09 16:32:20 +0000 2009,True,False,289.00,12.00,6.00,52.00,359.00
33919343,AshleyRParker,"Parker, Ashley",Washington Post,White House Reporter,F,122382,2342,12433,Tue Apr 21 14:28:57 +0000 2009,True,False,172.00,67.00,11.00,120.00,370.00
18580432,b_fung,"Fung, Brian",Washington Post,Tech Reporter,M,16558,2062,44799,Sat Jan 03 15:15:57 +0000 2009,True,False,257.00,85.00,205.00,82.00,629.00
399225358,b_muzz,"Murray, Brendan",Bloomberg News,"Managing Editor, U.S. Economy",M,624,382,360,Thu Oct 27 05:34:05 +0000 2011,True,False,3.00,0.00,0.00,5.00,8.00
18834692,becca_milfeld,"Milfeld, Becca",Agence France-Presse,English Desk Editor and Journalist,F,483,993,1484,Sat Jan 10 13:58:43 +0000 2009,False,False,3.00,14.00,0.00,7.00,24.00

### Remove users with no tweets in dataset

In [14]:
user_summary_df[user_summary_df.tweets_in_dataset == 0].count()

screen_name          195
name                 195
organization         195
position             195
gender               194
followers_count      195
following_count      195
tweet_count          195
user_created_at      195
verified             195
protected            195
original             195
quote                195
reply                195
retweet              195
tweets_in_dataset    195
dtype: int64

In [15]:
user_summary_df = user_summary_df[user_summary_df.tweets_in_dataset != 0]
user_summary_df.count()

screen_name          2292
name                 2292
organization         2292
position             2289
gender               2292
followers_count      2292
following_count      2292
tweet_count          2292
user_created_at      2292
verified             2292
protected            2292
original             2292
quote                2292
reply                2292
retweet              2292
tweets_in_dataset    2292
dtype: int64

## Tweeter analysis

### Gender

In [16]:
pd.DataFrame({'count':user_summary_df.gender.value_counts(), 'percentage':user_summary_df.gender.value_counts(normalize=True).mul(100).round(1).astype(str) + '%'})

   count percentage
M   1299      56.7%
F    993      43.3%

### Summary

* 25%, 50%, 75% are the percentiles. (Min is equivalent to 0%. Max is equivalent to 100%. 50% is the median.)
* std is standard deviation, normalized by N-1.

#### All

In [17]:
user_summary_df[['followers_count', 'following_count', 'tweet_count', 'original', 'quote', 'reply', 'retweet', 'tweets_in_dataset']].describe()

,followers_count,following_count,tweet_count,original,quote,reply,retweet,tweets_in_dataset
count,"2,292.00","2,292.00","2,292.00","2,292.00","2,292.00","2,292.00","2,292.00","2,292.00"
mean,"16,467.62","1,444.83","9,619.69",102.06,48.73,55.08,150.64,356.52
std,"91,886.90","3,003.00","16,618.09",169.43,135.90,249.18,585.08,833.76
min,6.00,0.00,1.00,0.00,0.00,0.00,0.00,1.00
25%,831.75,505.75,"1,449.50",10.00,1.00,1.00,8.00,32.00
50%,"2,419.50",998.50,"4,211.50",41.00,9.00,5.00,39.00,122.00
75%,"7,348.75","1,713.50","10,817.25",124.25,43.00,30.00,129.00,375.00
max,"2,176,578.00","96,194.00","208,763.00","2,693.00","3,069.00","9,033.00","21,524.00","21,547.00"

#### Female

In [18]:
user_summary_df[user_summary_df.gender == 'F'][['followers_count', 'following_count', 'tweet_count', 'original', 'quote', 'reply', 'retweet', 'tweets_in_dataset']].describe()

,followers_count,following_count,tweet_count,original,quote,reply,retweet,tweets_in_dataset
count,993.00,993.00,993.00,993.00,993.00,993.00,993.00,993.00
mean,"11,609.53","1,314.07","7,498.74",83.84,39.27,32.06,135.55,290.72
std,"65,563.72","1,250.56","11,312.72",124.86,135.05,94.73,724.92,833.07
min,6.00,1.00,1.00,0.00,0.00,0.00,0.00,1.00
25%,825.00,567.00,"1,393.00",8.00,1.00,1.00,9.00,32.00
50%,"2,327.00","1,034.00","4,055.00",39.00,9.00,4.00,37.00,111.00
75%,"6,340.00","1,659.00","8,983.00",111.00,33.00,21.00,115.00,314.00
max,"1,388,543.00","18,197.00","118,713.00","1,440.00","3,069.00","1,458.00","21,524.00","21,547.00"

#### Male

In [19]:
user_summary_df[user_summary_df.gender == 'M'][['followers_count', 'following_count', 'tweet_count', 'original', 'quote', 'reply', 'retweet', 'tweets_in_dataset']].describe()

,followers_count,following_count,tweet_count,original,quote,reply,retweet,tweets_in_dataset
count,"1,299.00","1,299.00","1,299.00","1,299.00","1,299.00","1,299.00","1,299.00","1,299.00"
mean,"20,181.31","1,544.78","11,241.02",115.99,55.96,72.69,162.17,406.81
std,"107,635.37","3,833.89","19,584.46",195.72,136.16,319.41,449.75,831.10
min,10.00,0.00,5.00,0.00,0.00,0.00,0.00,1.00
25%,857.50,472.00,"1,477.00",12.00,0.00,1.00,6.00,33.00
50%,"2,498.00",953.00,"4,401.00",44.00,9.00,6.00,40.00,131.00
75%,"8,341.50","1,763.00","12,584.50",140.00,50.50,38.50,142.00,428.00
max,"2,176,578.00","96,194.00","208,763.00","2,693.00","1,955.00","9,033.00","7,528.00","11,432.00"

### Verified

#### All

In [20]:
pd.DataFrame({'count':user_summary_df.verified.value_counts(), 'percentage':user_summary_df.verified.value_counts(normalize=True).mul(100).round(1).astype(str) + '%'})

       count percentage
True    1240      54.1%
False   1052      45.9%

#### Female

In [21]:
pd.DataFrame({'count':user_summary_df[user_summary_df.gender == 'F'].verified.value_counts(), 'percentage':user_summary_df[user_summary_df.gender == 'F'].verified.value_counts(normalize=True).mul(100).round(1).astype(str) + '%'})

       count percentage
True     512      51.6%
False    481      48.4%

#### Male

In [22]:
pd.DataFrame({'count':user_summary_df[user_summary_df.gender == 'M'].verified.value_counts(), 'percentage':user_summary_df[user_summary_df.gender == 'M'].verified.value_counts(normalize=True).mul(100).round(1).astype(str) + '%'})

       count percentage
True     728      56.0%
False    571      44.0%

## Mention data prep

### Load mentions from tweets
Including original tweets only

In [23]:
%matplotlib inline
import pandas as pd
import numpy as np
import logging
from dateutil.parser import parse as date_parse
from utils import load_tweet_df, tweet_type
import matplotlib.pyplot as plt


logger = logging.getLogger()
logger.setLevel(logging.DEBUG)

# Set float format so doesn't display scientific notation
pd.options.display.float_format = '{:20,.2f}'.format

# Simply the tweet on load
def mention_transform(tweet):
    mentions = []
    if tweet_type(tweet) == 'original':
        for mention in tweet.get('entities', {}).get('user_mentions', []):
            mentions.append({
                'tweet_id': tweet['id_str'],
                'user_id': tweet['user']['id_str'],
                'screen_name': tweet['user']['screen_name'],
                'mention_user_id': mention['id_str'],
                'mention_screen_name': mention['screen_name'],
                'tweet_created_at': date_parse(tweet['created_at'])
            })
    return mentions

base_mention_df = load_tweet_df(mention_transform, ['tweet_id', 'user_id', 'screen_name', 'mention_user_id',
                                           'mention_screen_name', 'tweet_created_at'], 
                           dedupe_columns=['tweet_id', 'mention_user_id'])
base_mention_df.count()

INFO:root:Loading from tweets/41feff28312c433ab004cd822212f4c2_001.json.gz
DEBUG:root:Loaded 50000
DEBUG:root:Loaded 100000
DEBUG:root:Loaded 150000
DEBUG:root:Loaded 200000
DEBUG:root:Loaded 250000
DEBUG:root:Loaded 300000
INFO:root:Loading from tweets/642bf140607547cb9d4c6b1fc49772aa_001.json.gz
DEBUG:root:Loaded 350000
DEBUG:root:Loaded 400000
DEBUG:root:Loaded 450000
DEBUG:root:Loaded 500000
DEBUG:root:Loaded 550000
INFO:root:Loading from tweets/9f7ed17c16a1494c8690b4053609539d_001.json.gz
DEBUG:root:Loaded 600000
DEBUG:root:Loaded 650000
DEBUG:root:Loaded 700000
DEBUG:root:Loaded 750000
DEBUG:root:Loaded 800000

tweet_id               118210
user_id                118210
screen_name            118210
mention_user_id        118210
mention_screen_name    118210
tweet_created_at       118210
dtype: int64

In [24]:
base_mention_df.head()

,tweet_id,user_id,screen_name,mention_user_id,mention_screen_name,tweet_created_at
0,874695069584027648,15731368,HowardKurtz,110445334,megynkelly,2017-06-13 18:28:50+00:00
1,874695069584027648,15731368,HowardKurtz,171154131,HappeningNow,2017-06-13 18:28:50+00:00
2,874652287809064960,15731368,HowardKurtz,110445334,megynkelly,2017-06-13 15:38:50+00:00
3,874281339150884864,15731368,HowardKurtz,486907980,CarleyShimkus,2017-06-12 15:04:49+00:00
4,874265555552882688,15731368,HowardKurtz,2263438704,GillianHTurner,2017-06-12 14:02:06+00:00

### Add gender of mentioner

In [25]:
mention_df = base_mention_df.join(user_summary_df['gender'], on='user_id')
mention_df.count()

tweet_id               118210
user_id                118210
screen_name            118210
mention_user_id        118210
mention_screen_name    118210
tweet_created_at       118210
gender                 118210
dtype: int64

### Distinct tweets

In [26]:
mention_df['tweet_id'].unique().size

84942

### Distinct mentioned users

In [27]:
mention_df['mention_user_id'].unique().size

17730

### Functions for summarizing mentions by beltway journalists

In [28]:
# Gender of beltway journalists mentioned by beltway journalists
def journalist_mention_gender_summary(mention_df):
    return pd.DataFrame({'count': mention_df.mention_gender.value_counts(), 
                  'percentage': mention_df.mention_gender.value_counts(normalize=True).mul(100).round(1).astype(str) + '%'})

# Mention of beltway journalists by beltway journalists
def journalist_mention_summary(mention_df):
    # Mention count
    mention_count_df = pd.DataFrame(mention_df.mention_user_id.value_counts().rename('mention_count'))

    # Mentioning users. That is, the number of unique users mentioning each user.
    mention_user_id_per_user_df = mention_df[['mention_user_id', 'user_id']].drop_duplicates()
    mentioning_user_count_df = pd.DataFrame(mention_user_id_per_user_df.groupby('mention_user_id').size(), columns=['mentioning_count'])
    mentioning_user_count_df.index.name = 'user_id'

    # Join with user summary
    return user_summary_df.join([mention_count_df, mentioning_user_count_df], how="inner").sort_values(['mention_count', 'mentioning_count'], ascending=False)

# Fields for displaying journalist mention summaries
journalist_mention_summary_fields = ['screen_name', 'name', 'organization', 'gender', 'followers_count', 'mention_count', 'mentioning_count']

## Mentioned analysis
*Note that for each of these, the complete list is being written to CSV in the output directory.*

### Original tweets by gender

In [29]:
original_tweets_by_gender_df = user_summary_df[['gender', 'original']].groupby('gender').sum()
original_tweets_by_gender_df['percentage'] = original_tweets_by_gender_df.original.div(user_summary_df.original.sum()).mul(100).round(1).astype(str) + '%'
original_tweets_by_gender_df

                   original percentage
gender
F                 83,251.00      35.6%
M                150,675.00      64.4%

### All mentioned by beltway journalists
This is based on screen name, which could have changed during collection period. However, for the users that would be at the top of this list, seems unlikely.

In [30]:
# Mention count
mention_count_screen_name_df = pd.DataFrame(mention_df.mention_screen_name.value_counts().rename('mention_count'))

# Count of mentioning users
mention_user_id_per_user_screen_name_df = mention_df[['mention_screen_name', 'user_id']].drop_duplicates()
mentioning_count_screen_name_df = pd.DataFrame(mention_user_id_per_user_screen_name_df.groupby('mention_screen_name').size(), columns=['mentioning_count'])
mentioning_count_screen_name_df.index.name = 'screen_name'

all_mentioned_df = mention_count_screen_name_df.join(mentioning_count_screen_name_df)
all_mentioned_df.to_csv('output/all_mentioned_by_journalists.csv')
all_mentioned_df.head(25)

                 mention_count  mentioning_count
realDonaldTrump           2876               452
POTUS                     2265               253
wusa9                     2111                41
AP                        1948               143
USATODAY                  1235               105
nbcwashington             1230                70
WSJ                       1227               152
dcexaminer                1034                53
SHSanders45                927               148
nytimes                    829               289
BloombergBNA               759                45
politico                   747               181
SpeakerRyan                700               181
Scaramucci                 657               198
PressSec                   654               178
CNN                        628               186
ABC7News                   604                24
SenJohnMcCain              599               231
WTOP                       529                43
BloombergLaw               517                15
VP                         506               140
SteveScalise               505               150
MSNBC                      486                92
Reuters                    483                84
bpolitics                  432                69

### All beltway journalists mentioned by beltway journalists

In [31]:
journalists_mention_df = mention_df.join(user_summary_df['gender'], how='inner', on='mention_user_id', rsuffix='_mention')
journalists_mention_df.rename(columns = {'gender_mention': 'mention_gender'}, inplace=True)
journalists_mention_df.count()

tweet_id               14298
user_id                14298
screen_name            14298
mention_user_id        14298
mention_screen_name    14298
tweet_created_at       14298
gender                 14298
mention_gender         14298
dtype: int64

In [32]:
journalists_mention_df.head()

,tweet_id,user_id,screen_name,mention_user_id,mention_screen_name,tweet_created_at,gender,mention_gender
9,873955901484486656,15731368,HowardKurtz,16157855,edhenry,2017-06-11 17:31:38+00:00,M,M
14,873877145117962241,15731368,HowardKurtz,16157855,edhenry,2017-06-11 12:18:41+00:00,M,M
6414,874439120344535041,19455864,finnygo,16157855,edhenry,2017-06-13 01:31:47+00:00,M,M
23175,879021641141022720,15731368,HowardKurtz,16157855,edhenry,2017-06-25 17:01:05+00:00,M,M
23178,878956408657633280,15731368,HowardKurtz,16157855,edhenry,2017-06-25 12:41:52+00:00,M,M

In [33]:
journalists_mention_summary_df = journalist_mention_summary(journalists_mention_df)
journalists_mention_summary_df.to_csv('output/journalists_mentioned_by_journalists.csv')
journalists_mention_summary_df[journalist_mention_summary_fields].head(25)

,screen_name,name,organization,gender,followers_count,mention_count,mentioning_count
325050734,AllysonRaeWx,"Banks, Allyson",WUSATV,F,6918,330,7
28496589,TenaciousTopper,"Shutt, Charles",WUSATV,M,15868,239,13
63149389,hbwx,"Bernstein, Howard",WUSATV,M,8337,235,10
407013776,burgessev,"Everett, John B.",Politico,M,31010,212,46
16018516,jenhab,"Haberkorn, Jennifer A.",Politico,F,20028,200,31
19186003,seungminkim,"Kim, Seung Min",Politico,F,33980,143,41
14529929,jaketapper,"Tapper, Jake",CNN,M,1305680,127,51
169586280,WaPoSean,"Sullivan, Sean",Washington Post,M,22860,117,20
997684836,pkcapitol,"Kane, Paul",Washington Post,M,31300,116,47
108617810,DanaBashCNN,"Bash, Dana",CNN,F,281861,115,55
82151660,kelsey_snell,"Snell, Kelse",Washington Post,F,8108,109,22
123327472,peterbakernyt,"Baker, Peter",New York Times,M,96956,107,43
13524182,daveweigel,"Weigel, David",Washington Post,M,332344,106,42
46557945,StevenTDennis,"Dennis, Steven T.",Bloomberg News,M,55762,105,27
15931637,jonkarl,"Karl, Jonathan",ABC News,M,183467,104,40
33919343,AshleyRParker,"Parker, Ashley",Washington Post,F,122382,100,31
9126752,reporterjoe,"Gould, Joseph M.",Sightline Media Group,M,4702,98,16
39155029,mkraju,"Raju, Manu K.",CNN,M,88366,95,43
52392666,ZoeTillman,"Tillman, Zoe",BuzzFeed,F,15246,87,14
16930125,edatpost,"OKeefe, Edward",Washington Post,M,58670,84,41
26632935,HopeSeck,"Hodge Seck, Hope",Military.com,F,4584,83,3
48802204,HardballChris,"Matthews, Chris",NBC News,M,718330,80,9
19107878,GlennThrush,"Thrush, Glenn H.",New York Times,M,308181,78,37
217550862,BresPolitico,"Bresnahan, John",Politico,M,40562,78,27
24439201,jameshohmann,"Hohmann, James P.",Washington Post,M,38708,78,27

In [34]:
journalist_mention_gender_summary(journalists_mention_df)

   count percentage
M   8298      58.0%
F   6000      42.0%

### Female beltway journalists mentioned by beltway journalists

In [35]:
female_journalists_mention_summary_df = journalist_mention_summary(journalists_mention_df[journalists_mention_df.mention_gender == 'F'])
female_journalists_mention_summary_df.to_csv('output/female_journalists_mentioned_by_journalists.csv')
female_journalists_mention_summary_df[journalist_mention_summary_fields].head(25)

,screen_name,name,organization,gender,followers_count,mention_count,mentioning_count
325050734,AllysonRaeWx,"Banks, Allyson",WUSATV,F,6918,330,7
16018516,jenhab,"Haberkorn, Jennifer A.",Politico,F,20028,200,31
19186003,seungminkim,"Kim, Seung Min",Politico,F,33980,143,41
108617810,DanaBashCNN,"Bash, Dana",CNN,F,281861,115,55
82151660,kelsey_snell,"Snell, Kelse",Washington Post,F,8108,109,22
33919343,AshleyRParker,"Parker, Ashley",Washington Post,F,122382,100,31
52392666,ZoeTillman,"Tillman, Zoe",BuzzFeed,F,15246,87,14
26632935,HopeSeck,"Hodge Seck, Hope",Military.com,F,4584,83,3
16441088,jestei,"Steinhauer, Jennifer",New York Times,F,13452,76,26
18227519,morningmika,"Brzezinski, Mika",MSNBC,F,653031,70,44
12354832,kasie,"Hunt, Kasie",NBC News,F,187357,67,29
139738464,mj_lee,"Lee, MJ",CNN,F,31940,67,27
204599219,pw_cunningham,"Cunningham, Paige",Washington Examiner,F,9255,67,18
118747545,eilperin,"Eilperin, Juliet",Washington Post,F,20483,67,16
360080772,FoxReports,"Fox, Lauren",CNN,F,7282,65,15
58869089,margarettalev,"Talev, Margaret",Bloomberg News,F,19588,58,27
313545488,LauraLitvan,"Litvan, Laura",Bloomberg News,F,4468,58,5
19734832,sarahkliff,"Kliff, Sarah L.",Vox Media,F,100090,57,27
381664207,caitlinnowens,"Owens, Caitlin N.",Axios,F,5749,57,9
167024520,rachaelmbade,"Bade, Rachel M.",Politico,F,30164,56,26
247852986,rachanadixit,"Pradhan, Rachana D.",Politico,F,6178,55,14
237477771,juliehdavis,"Davis, Julie",New York Times,F,49821,55,10
36607254,Oriana0214,"Pawlyk, Oriana",Military.com,F,6397,55,4
28181835,jpaceDC,"Pace, Julie",Associated Press,F,46017,52,30
48144950,JudyWoodruff,"Woodruff, Judy",PBS NewsHour,F,64294,49,7

### Male beltway journalists mentioned by beltway journalists

In [36]:
male_journalists_mention_summary_df = journalist_mention_summary(journalists_mention_df[journalists_mention_df.mention_gender == 'M'])
male_journalists_mention_summary_df.to_csv('output/male_journalists_mentioned_by_journalists.csv')
male_journalists_mention_summary_df[journalist_mention_summary_fields].head(25)

,screen_name,name,organization,gender,followers_count,mention_count,mentioning_count
28496589,TenaciousTopper,"Shutt, Charles",WUSATV,M,15868,239,13
63149389,hbwx,"Bernstein, Howard",WUSATV,M,8337,235,10
407013776,burgessev,"Everett, John B.",Politico,M,31010,212,46
14529929,jaketapper,"Tapper, Jake",CNN,M,1305680,127,51
169586280,WaPoSean,"Sullivan, Sean",Washington Post,M,22860,117,20
997684836,pkcapitol,"Kane, Paul",Washington Post,M,31300,116,47
123327472,peterbakernyt,"Baker, Peter",New York Times,M,96956,107,43
13524182,daveweigel,"Weigel, David",Washington Post,M,332344,106,42
46557945,StevenTDennis,"Dennis, Steven T.",Bloomberg News,M,55762,105,27
15931637,jonkarl,"Karl, Jonathan",ABC News,M,183467,104,40
9126752,reporterjoe,"Gould, Joseph M.",Sightline Media Group,M,4702,98,16
39155029,mkraju,"Raju, Manu K.",CNN,M,88366,95,43
16930125,edatpost,"OKeefe, Edward",Washington Post,M,58670,84,41
48802204,HardballChris,"Matthews, Chris",NBC News,M,718330,80,9
19107878,GlennThrush,"Thrush, Glenn H.",New York Times,M,308181,78,37
217550862,BresPolitico,"Bresnahan, John",Politico,M,40562,78,27
24439201,jameshohmann,"Hohmann, James P.",Washington Post,M,38708,78,27
18678924,jmartNYT,"Martin, Jonathan",New York Times,M,197322,75,37
22891564,chrisgeidner,"Geidner, Chris",BuzzFeed,M,83316,73,15
112526560,kenvogel,"Vogel, Kenneth P.",Politico,M,53894,67,45
18646108,BretBaier,"Baier, Bret",Fox News,M,1095184,66,18
22771961,Acosta,"Acosta, Jim",CNN,M,350650,61,38
16067683,pauldemko,"Demko, Paul Jeffrey",Politico,M,8170,60,13
59676104,danbalz,"Balz, Daniel",Washington Post,M,90819,57,26
71294756,wolfblitzer,"Blitzer, Wolf",CNN,M,1281914,56,30

### Beltway journalists mentioned by female beltway journalists

In [37]:
journalists_mentioned_by_female_summary_df = journalist_mention_summary(journalists_mention_df[journalists_mention_df.gender == 'F'])
journalists_mentioned_by_female_summary_df.to_csv('output/journalists_mentioned_by_female_journalists.csv')
journalists_mentioned_by_female_summary_df[journalist_mention_summary_fields].head(25)

,screen_name,name,organization,gender,followers_count,mention_count,mentioning_count
407013776,burgessev,"Everett, John B.",Politico,M,31010,164,20
16018516,jenhab,"Haberkorn, Jennifer A.",Politico,F,20028,116,13
46557945,StevenTDennis,"Dennis, Steven T.",Bloomberg News,M,55762,79,10
169586280,WaPoSean,"Sullivan, Sean",Washington Post,M,22860,71,11
48802204,HardballChris,"Matthews, Chris",NBC News,M,718330,70,3
19186003,seungminkim,"Kim, Seung Min",Politico,F,33980,64,16
22891564,chrisgeidner,"Geidner, Chris",BuzzFeed,M,83316,61,6
108617810,DanaBashCNN,"Bash, Dana",CNN,F,281861,60,26
16067683,pauldemko,"Demko, Paul Jeffrey",Politico,M,8170,57,10
313545488,LauraLitvan,"Litvan, Laura",Bloomberg News,F,4468,53,2
52392666,ZoeTillman,"Tillman, Zoe",BuzzFeed,F,15246,52,8
33919343,AshleyRParker,"Parker, Ashley",Washington Post,F,122382,49,11
82151660,kelsey_snell,"Snell, Kelse",Washington Post,F,8108,47,10
247852986,rachanadixit,"Pradhan, Rachana D.",Politico,F,6178,43,7
9126752,reporterjoe,"Gould, Joseph M.",Sightline Media Group,M,4702,43,7
14529929,jaketapper,"Tapper, Jake",CNN,M,1305680,40,21
16930125,edatpost,"OKeefe, Edward",Washington Post,M,58670,40,18
217550862,BresPolitico,"Bresnahan, John",Politico,M,40562,37,13
16149614,jrovner,"Rovner, Julie",Kaiser Health News,F,21844,35,14
997684836,pkcapitol,"Kane, Paul",Washington Post,M,31300,35,13
12354832,kasie,"Hunt, Kasie",NBC News,F,187357,35,12
158072303,ValerieInsinna,"Insinna, Valerie",Defense News,F,4572,35,2
15931637,jonkarl,"Karl, Jonathan",ABC News,M,183467,33,18
342226913,GregStohr,"Stohr, Greg",Bloomberg News,M,7245,32,2
297532865,kwelkernbc,"Welker, Kristen",NBC News,F,99234,31,9

In [38]:
journalist_mention_gender_summary(journalists_mention_df[journalists_mention_df.gender == 'F'])

   count percentage
M   3162      54.8%
F   2605      45.2%

### Beltway journalists mentioned by male beltway journalists

In [39]:
journalists_mentioned_by_male_summary_df = journalist_mention_summary(journalists_mention_df[journalists_mention_df.gender == 'M'])
journalists_mentioned_by_male_summary_df.to_csv('output/journalists_mentioned_by_male_journalists.csv')
journalists_mentioned_by_male_summary_df[journalist_mention_summary_fields].head(25)

,screen_name,name,organization,gender,followers_count,mention_count,mentioning_count
325050734,AllysonRaeWx,"Banks, Allyson",WUSATV,F,6918,324,4
28496589,TenaciousTopper,"Shutt, Charles",WUSATV,M,15868,225,7
63149389,hbwx,"Bernstein, Howard",WUSATV,M,8337,225,4
14529929,jaketapper,"Tapper, Jake",CNN,M,1305680,87,30
13524182,daveweigel,"Weigel, David",Washington Post,M,332344,84,30
16018516,jenhab,"Haberkorn, Jennifer A.",Politico,F,20028,84,18
997684836,pkcapitol,"Kane, Paul",Washington Post,M,31300,81,34
19186003,seungminkim,"Kim, Seung Min",Politico,F,33980,79,25
123327472,peterbakernyt,"Baker, Peter",New York Times,M,96956,78,29
26632935,HopeSeck,"Hodge Seck, Hope",Military.com,F,4584,76,1
15931637,jonkarl,"Karl, Jonathan",ABC News,M,183467,71,22
18678924,jmartNYT,"Martin, Jonathan",New York Times,M,197322,69,31
39155029,mkraju,"Raju, Manu K.",CNN,M,88366,67,27
19107878,GlennThrush,"Thrush, Glenn H.",New York Times,M,308181,66,29
16441088,jestei,"Steinhauer, Jennifer",New York Times,F,13452,64,17
82151660,kelsey_snell,"Snell, Kelse",Washington Post,F,8108,62,12
24439201,jameshohmann,"Hohmann, James P.",Washington Post,M,38708,59,17
18646108,BretBaier,"Baier, Bret",Fox News,M,1095184,59,14
108617810,DanaBashCNN,"Bash, Dana",CNN,F,281861,55,29
9126752,reporterjoe,"Gould, Joseph M.",Sightline Media Group,M,4702,55,9
381664207,caitlinnowens,"Owens, Caitlin N.",Axios,F,5749,55,7
33919343,AshleyRParker,"Parker, Ashley",Washington Post,F,122382,51,20
204599219,pw_cunningham,"Cunningham, Paige",Washington Examiner,F,9255,51,9
112526560,kenvogel,"Vogel, Kenneth P.",Politico,M,53894,50,32
36607254,Oriana0214,"Pawlyk, Oriana",Military.com,F,6397,50,3

In [40]:
journalist_mention_gender_summary(journalists_mention_df[journalists_mention_df.gender == 'M'])

   count percentage
M   5136      60.2%
F   3395      39.8%

## Retweet data prep

### Load retweets from tweets
Including retweets and quotes

In [41]:
# Simply the tweet on load
def retweet_transform(tweet):
    if tweet_type(tweet) in ('retweet', 'quote'):
        retweet = tweet.get('retweeted_status') or tweet.get('quoted_status')
        return {
            'tweet_id': tweet['id_str'],
            'user_id': tweet['user']['id_str'],
            'screen_name': tweet['user']['screen_name'],
            'retweet_user_id': retweet['user']['id_str'],
            'retweet_screen_name': retweet['user']['screen_name'],
            'tweet_created_at': date_parse(tweet['created_at'])            
        }
    return None

base_retweet_df = load_tweet_df(retweet_transform, ['tweet_id', 'user_id', 'screen_name', 'retweet_user_id',
                                           'retweet_screen_name', 'tweet_created_at'],
                           dedupe_columns=['tweet_id'])

base_retweet_df.count()

INFO:root:Loading from tweets/41feff28312c433ab004cd822212f4c2_001.json.gz
DEBUG:root:Loaded 50000
DEBUG:root:Loaded 100000
DEBUG:root:Loaded 150000
DEBUG:root:Loaded 200000
DEBUG:root:Loaded 250000
DEBUG:root:Loaded 300000
INFO:root:Loading from tweets/642bf140607547cb9d4c6b1fc49772aa_001.json.gz
DEBUG:root:Loaded 350000
DEBUG:root:Loaded 400000
DEBUG:root:Loaded 450000
DEBUG:root:Loaded 500000
DEBUG:root:Loaded 550000
INFO:root:Loading from tweets/9f7ed17c16a1494c8690b4053609539d_001.json.gz
DEBUG:root:Loaded 600000
DEBUG:root:Loaded 650000
DEBUG:root:Loaded 700000
DEBUG:root:Loaded 750000
DEBUG:root:Loaded 800000

tweet_id               456956
user_id                456956
screen_name            456956
retweet_user_id        456956
retweet_screen_name    456956
tweet_created_at       456956
dtype: int64

In [42]:
base_retweet_df.head()

,tweet_id,user_id,screen_name,retweet_user_id,retweet_screen_name,tweet_created_at
0,875012559228874752,15731368,HowardKurtz,5447242,emzanotti,2017-06-14 15:30:25+00:00
1,875010759759101952,15731368,HowardKurtz,18646108,BretBaier,2017-06-14 15:23:16+00:00
2,875010163496939520,15731368,HowardKurtz,1098615836,brookefoxnews,2017-06-14 15:20:54+00:00
3,875010062296784897,15731368,HowardKurtz,14173315,NBCNews,2017-06-14 15:20:30+00:00
4,874728109513334788,15731368,HowardKurtz,21619519,JoeNBC,2017-06-13 20:40:07+00:00

### Add gender of retweeter

In [43]:
retweet_df = base_retweet_df.join(user_summary_df['gender'], on='user_id')
retweet_df.count()

tweet_id               456956
user_id                456956
screen_name            456956
retweet_user_id        456956
retweet_screen_name    456956
tweet_created_at       456956
gender                 456956
dtype: int64

### Distinct retweeted users

In [44]:
retweet_df['retweet_user_id'].unique().size

49154

### Functions for summarizing retweets by beltway journalists

In [45]:
# Gender of beltway journalists retweeted by beltway journalists
def journalist_retweet_gender_summary(retweet_df):
    return pd.DataFrame({'count':retweet_df.retweet_gender.value_counts(), 
                  'percentage': retweet_df.retweet_gender.value_counts(normalize=True).mul(100).round(1).astype(str) + '%'})

# Retweet of beltway journalists by beltway journalists
def journalist_retweet_summary(retweet_df):
    # Retweet count
    retweet_count_df = pd.DataFrame(retweet_df.retweet_user_id.value_counts().rename('retweet_count'))

    # Retweeting users. That is, the number of unique users retweeting each user.
    retweet_user_id_per_user_df = retweet_df[['retweet_user_id', 'user_id']].drop_duplicates()
    retweeting_user_count_df = pd.DataFrame(retweet_user_id_per_user_df.groupby('retweet_user_id').size(), columns=['retweeting_count'])
    retweeting_user_count_df.index.name = 'user_id'

    # Join with user summary
    return user_summary_df.join([retweet_count_df, retweeting_user_count_df], how="inner").sort_values(['retweet_count', 'retweeting_count'], ascending=False)

# Fields for displaying journalist mention summaries
journalist_retweet_summary_fields = ['screen_name', 'name', 'organization', 'gender', 'followers_count', 'retweet_count', 'retweeting_count']

## Retweet analysis
*Note that for each of these, the complete list is being written to CSV in the output directory.*

### Retweets and quotes by gender

In [46]:
retweets_by_gender_df = user_summary_df[['gender', 'retweet', 'quote']].groupby('gender').sum()
retweets_by_gender_df['total'] = retweets_by_gender_df.retweet + retweets_by_gender_df.quote
retweets_by_gender_df['percentage'] = retweets_by_gender_df.total.div(retweets_by_gender_df.total.sum()).mul(100).round(1).astype(str) + '%'
retweets_by_gender_df

,retweet,quote,total,percentage
gender,,,,
F,"134,606.00","38,998.00","173,604.00",38.0%
M,"210,660.00","72,692.00","283,352.00",62.0%

### All retweeted by beltway journalists
This is based on screen name, which could have changed during collection period. However, for the users that would be at the top of this list, seems unlikely.

In [47]:
# Retweet count
retweet_count_screen_name_df = pd.DataFrame(retweet_df.retweet_screen_name.value_counts().rename('retweet_count'))

# Count of retweeting users
retweet_user_id_per_user_screen_name_df = retweet_df[['retweet_screen_name', 'user_id']].drop_duplicates()
retweeting_count_screen_name_df = pd.DataFrame(retweet_user_id_per_user_screen_name_df.groupby('retweet_screen_name').size(), columns=['retweeting_count'])
retweeting_count_screen_name_df.index.name = 'screen_name'

all_retweeted_df = retweet_count_screen_name_df.join(retweeting_count_screen_name_df)
all_retweeted_df.to_csv('output/all_retweeted_by_journalists.csv')
all_retweeted_df.head(25)

                 retweet_count  retweeting_count
realDonaldTrump           6650               807
thehill                   5424               457
BraddJaffy                3564               554
maggieNYT                 3024               530
business                  3000               229
washingtonpost            2638               498
AP                        2480               581
politico                  2335               334
nytimes                   2268               485
WSJ                       1949               213
burgessev                 1836               289
kylegriffin1              1803               429
ZekeJMiller               1723               387
CNN                       1602               366
GlennThrush               1577               451
Reuters                   1487               265
jaketapper                1459               397
TheEconomist              1458                86
StevenTDennis             1403               280
FoxNews                   1400               258
seungminkim               1393               327
mkraju                    1359               341
PhilipRucker              1349               365
markknoller               1343               341
MEPFuller                 1324               286

### All beltway journalists retweeted by beltway journalists

In [48]:
journalists_retweet_df = retweet_df.join(user_summary_df['gender'], how='inner', on='retweet_user_id', rsuffix='_retweet')
journalists_retweet_df.rename(columns = {'gender_retweet': 'retweet_gender'}, inplace=True)
journalists_retweet_df.count()

tweet_id               117048
user_id                117048
screen_name            117048
retweet_user_id        117048
retweet_screen_name    117048
tweet_created_at       117048
gender                 117048
retweet_gender         117048
dtype: int64

In [49]:
journalists_retweet_df.head()

,tweet_id,user_id,screen_name,retweet_user_id,retweet_screen_name,tweet_created_at,gender,retweet_gender
1,875010759759101952,15731368,HowardKurtz,18646108,BretBaier,2017-06-14 15:23:16+00:00,M,M
1689,874962718457040896,552044121,cspanSusan,18646108,BretBaier,2017-06-14 12:12:22+00:00,F,M
2152,874964090028011520,117082566,TheBrodyFile,18646108,BretBaier,2017-06-14 12:17:49+00:00,M,M
2157,874702923468595204,117082566,TheBrodyFile,18646108,BretBaier,2017-06-13 19:00:02+00:00,M,M
9597,874739897839517697,70814224,jkeene1957,18646108,BretBaier,2017-06-13 21:26:58+00:00,M,M

In [50]:
journalists_retweet_summary_df = journalist_retweet_summary(journalists_retweet_df)
journalists_retweet_summary_df.to_csv('output/journalists_retweeted_by_journalists.csv')
journalists_retweet_summary_df[journalist_retweet_summary_fields].head(25)

,screen_name,name,organization,gender,followers_count,retweet_count,retweeting_count
407013776,burgessev,"Everett, John B.",Politico,M,31010,1836,289
21316253,ZekeJMiller,"Miller, Zeke J.",Time Magazine,M,198517,1723,387
19107878,GlennThrush,"Thrush, Glenn H.",New York Times,M,308181,1577,451
14529929,jaketapper,"Tapper, Jake",CNN,M,1305680,1459,397
46557945,StevenTDennis,"Dennis, Steven T.",Bloomberg News,M,55762,1403,280
19186003,seungminkim,"Kim, Seung Min",Politico,F,33980,1393,327
39155029,mkraju,"Raju, Manu K.",CNN,M,88366,1359,341
31127446,markknoller,"Knoller, Mark",CBS News,M,301474,1343,341
398088661,MEPFuller,"Fuller, Matt E.",Huffington Post,M,77919,1324,286
13524182,daveweigel,"Weigel, David",Washington Post,M,332344,1221,306
14007532,frankthorp,"Thorp, Frank",NBC News,M,39798,1207,334
19847765,sahilkapur,"Kapur, Sahil",Bloomberg News,M,69086,1186,296
16187637,ChadPergram,"Pergram, Chad",Fox News,M,59305,1177,297
104914594,Phil_Mattingly,"Mattingly, Phil",CNN,M,40119,1120,314
16006592,BenjySarlin,"Sarlin, Benjamin",NBC News,M,78075,1039,215
259395895,JohnJHarwood,"Harwood, John",CNBC,M,149040,1011,277
21252618,JakeSherman,"Sherman, Jacob S.",Politico,M,81762,943,281
33653195,ericawerner,"Werner, Erica",Associated Press,F,14049,939,281
18678924,jmartNYT,"Martin, Jonathan",New York Times,M,197322,916,247
12354832,kasie,"Hunt, Kasie",NBC News,F,187357,909,388
70511174,Hadas_Gold,"Gold, Hadas",Politico,F,45221,849,306
22771961,Acosta,"Acosta, Jim",CNN,M,350650,829,315
104299137,DavidMDrucker,"Drucker, David",Washington Examiner,M,35033,770,193
593813785,DonnaYoungDC,"Young, Donna",S&P Global Market Intelligence,F,5894,708,13
118130765,dylanlscott,"Scott, Dylan L.",Stat News,M,20122,705,155

In [51]:
journalist_retweet_gender_summary(journalists_retweet_df)

   count percentage
M  80634      68.9%
F  36414      31.1%

### Female beltway journalists retweeted by beltway journalists

In [52]:
female_journalists_retweet_summary_df = journalist_retweet_summary(journalists_retweet_df[journalists_retweet_df.retweet_gender == 'F'])
female_journalists_retweet_summary_df.to_csv('output/female_journalists_retweeted_by_journalists.csv')
female_journalists_retweet_summary_df[journalist_retweet_summary_fields].head(25)

,screen_name,name,organization,gender,followers_count,retweet_count,retweeting_count
19186003,seungminkim,"Kim, Seung Min",Politico,F,33980,1393,327
33653195,ericawerner,"Werner, Erica",Associated Press,F,14049,939,281
12354832,kasie,"Hunt, Kasie",NBC News,F,187357,909,388
70511174,Hadas_Gold,"Gold, Hadas",Politico,F,45221,849,306
593813785,DonnaYoungDC,"Young, Donna",S&P Global Market Intelligence,F,5894,708,13
167024520,rachaelmbade,"Bade, Rachel M.",Politico,F,30164,614,161
33919343,AshleyRParker,"Parker, Ashley",Washington Post,F,122382,539,268
139738464,mj_lee,"Lee, MJ",CNN,F,31940,518,189
16018516,jenhab,"Haberkorn, Jennifer A.",Politico,F,20028,474,136
18825339,CahnEmily,"Cahn, Emily",Mic,F,16980,444,118
45399148,jeneps,"Epstein, Jennifer",Bloomberg News,F,61242,443,189
705706292,rebeccaballhaus,"Ballhaus, Rebecca",Wall Street Journal / Dow Jones,F,24638,409,154
19734832,sarahkliff,"Kliff, Sarah L.",Vox Media,F,100090,392,136
163995093,AlexNBCNews,"Moe, Alexandra",NBC News,F,21689,388,134
237477771,juliehdavis,"Davis, Julie",New York Times,F,49821,375,194
16149614,jrovner,"Rovner, Julie",Kaiser Health News,F,21844,351,137
116341480,RosieGray,"Gray, Rosie",The Atlantic,F,96935,345,125
28181835,jpaceDC,"Pace, Julie",Associated Press,F,46017,328,132
52392666,ZoeTillman,"Tillman, Zoe",BuzzFeed,F,15246,312,70
906734342,KimberlyRobinsn,"Robinson, Kimberly S.",Bloomberg BNA,F,7170,308,38
188857501,alexis_levinson,"Levinson, Alexis R.",BuzzFeed,F,25375,288,111
56552341,LACaldwellDC,"Caldwell, Leigh Ann",NBC News,F,8464,282,98
151444950,DaviSusan,"Davis, Susan",National Public Radio,F,27297,270,150
360080772,FoxReports,"Fox, Lauren",CNN,F,7282,269,116
313545488,LauraLitvan,"Litvan, Laura",Bloomberg News,F,4468,269,115

### Male beltway journalists retweeted by beltway journalists

In [53]:
male_journalists_retweet_summary_df = journalist_retweet_summary(journalists_retweet_df[journalists_retweet_df.retweet_gender == 'M'])
male_journalists_retweet_summary_df.to_csv('output/male_journalists_retweeted_by_journalists.csv')
male_journalists_retweet_summary_df[journalist_retweet_summary_fields].head(25)

,screen_name,name,organization,gender,followers_count,retweet_count,retweeting_count
407013776,burgessev,"Everett, John B.",Politico,M,31010,1836,289
21316253,ZekeJMiller,"Miller, Zeke J.",Time Magazine,M,198517,1723,387
19107878,GlennThrush,"Thrush, Glenn H.",New York Times,M,308181,1577,451
14529929,jaketapper,"Tapper, Jake",CNN,M,1305680,1459,397
46557945,StevenTDennis,"Dennis, Steven T.",Bloomberg News,M,55762,1403,280
39155029,mkraju,"Raju, Manu K.",CNN,M,88366,1359,341
31127446,markknoller,"Knoller, Mark",CBS News,M,301474,1343,341
398088661,MEPFuller,"Fuller, Matt E.",Huffington Post,M,77919,1324,286
13524182,daveweigel,"Weigel, David",Washington Post,M,332344,1221,306
14007532,frankthorp,"Thorp, Frank",NBC News,M,39798,1207,334
19847765,sahilkapur,"Kapur, Sahil",Bloomberg News,M,69086,1186,296
16187637,ChadPergram,"Pergram, Chad",Fox News,M,59305,1177,297
104914594,Phil_Mattingly,"Mattingly, Phil",CNN,M,40119,1120,314
16006592,BenjySarlin,"Sarlin, Benjamin",NBC News,M,78075,1039,215
259395895,JohnJHarwood,"Harwood, John",CNBC,M,149040,1011,277
21252618,JakeSherman,"Sherman, Jacob S.",Politico,M,81762,943,281
18678924,jmartNYT,"Martin, Jonathan",New York Times,M,197322,916,247
22771961,Acosta,"Acosta, Jim",CNN,M,350650,829,315
104299137,DavidMDrucker,"Drucker, David",Washington Examiner,M,35033,770,193
118130765,dylanlscott,"Scott, Dylan L.",Stat News,M,20122,705,155
3817401,ericgeller,"Geller, Eric",Politico,M,58173,704,225
217550862,BresPolitico,"Bresnahan, John",Politico,M,40562,699,223
22129280,jimsciutto,"Sciutto, James",CNN,M,172012,688,242
61734492,Fahrenthold,"Fahrenthold, David",Washington Post,M,451778,654,284
15463671,samstein,"Stein, Sam",Huffington Post,M,313211,642,229

### Beltway journalists retweeted by female beltway journalists

In [54]:
journalists_retweeted_by_female_summary_df = journalist_retweet_summary(journalists_retweet_df[journalists_retweet_df.gender == 'F'])
journalists_retweeted_by_female_summary_df.to_csv('output/journalists_retweeted_by_female_journalists.csv')
journalists_retweeted_by_female_summary_df[journalist_retweet_summary_fields].head(25)

,screen_name,name,organization,gender,followers_count,retweet_count,retweeting_count
407013776,burgessev,"Everett, John B.",Politico,M,31010,748,122
593813785,DonnaYoungDC,"Young, Donna",S&P Global Market Intelligence,F,5894,704,9
19186003,seungminkim,"Kim, Seung Min",Politico,F,33980,572,142
31127446,markknoller,"Knoller, Mark",CBS News,M,301474,549,140
21316253,ZekeJMiller,"Miller, Zeke J.",Time Magazine,M,198517,516,149
46557945,StevenTDennis,"Dennis, Steven T.",Bloomberg News,M,55762,503,97
14007532,frankthorp,"Thorp, Frank",NBC News,M,39798,470,140
19107878,GlennThrush,"Thrush, Glenn H.",New York Times,M,308181,463,165
33653195,ericawerner,"Werner, Erica",Associated Press,F,14049,452,119
398088661,MEPFuller,"Fuller, Matt E.",Huffington Post,M,77919,447,116
39155029,mkraju,"Raju, Manu K.",CNN,M,88366,403,132
14529929,jaketapper,"Tapper, Jake",CNN,M,1305680,388,158
104914594,Phil_Mattingly,"Mattingly, Phil",CNN,M,40119,372,129
118130765,dylanlscott,"Scott, Dylan L.",Stat News,M,20122,367,67
16187637,ChadPergram,"Pergram, Chad",Fox News,M,59305,365,122
12354832,kasie,"Hunt, Kasie",NBC News,F,187357,344,164
19847765,sahilkapur,"Kapur, Sahil",Bloomberg News,M,69086,338,103
167024520,rachaelmbade,"Bade, Rachel M.",Politico,F,30164,303,59
21252618,JakeSherman,"Sherman, Jacob S.",Politico,M,81762,302,106
22891564,chrisgeidner,"Geidner, Chris",BuzzFeed,M,83316,287,61
70511174,Hadas_Gold,"Gold, Hadas",Politico,F,45221,279,111
22771961,Acosta,"Acosta, Jim",CNN,M,350650,265,119
139738464,mj_lee,"Lee, MJ",CNN,F,31940,259,79
217550862,BresPolitico,"Bresnahan, John",Politico,M,40562,256,82
61734492,Fahrenthold,"Fahrenthold, David",Washington Post,M,451778,253,115

In [55]:
journalist_retweet_gender_summary(journalists_retweet_df[journalists_retweet_df.gender == 'F'])

   count percentage
M  25410      59.6%
F  17228      40.4%

### Beltway journalists retweeted by male beltway journalists

In [56]:
journalists_retweeted_by_male_summary_df = journalist_retweet_summary(journalists_retweet_df[journalists_retweet_df.gender == 'M'])
journalists_retweeted_by_male_summary_df.to_csv('output/journalists_retweeted_by_male_journalists.csv')
journalists_retweeted_by_male_summary_df[journalist_retweet_summary_fields].head(25)

,screen_name,name,organization,gender,followers_count,retweet_count,retweeting_count
21316253,ZekeJMiller,"Miller, Zeke J.",Time Magazine,M,198517,1207,238
19107878,GlennThrush,"Thrush, Glenn H.",New York Times,M,308181,1114,286
407013776,burgessev,"Everett, John B.",Politico,M,31010,1088,167
14529929,jaketapper,"Tapper, Jake",CNN,M,1305680,1071,239
13524182,daveweigel,"Weigel, David",Washington Post,M,332344,975,209
39155029,mkraju,"Raju, Manu K.",CNN,M,88366,956,209
46557945,StevenTDennis,"Dennis, Steven T.",Bloomberg News,M,55762,900,183
398088661,MEPFuller,"Fuller, Matt E.",Huffington Post,M,77919,877,170
19847765,sahilkapur,"Kapur, Sahil",Bloomberg News,M,69086,848,193
16006592,BenjySarlin,"Sarlin, Benjamin",NBC News,M,78075,828,141
19186003,seungminkim,"Kim, Seung Min",Politico,F,33980,821,185
16187637,ChadPergram,"Pergram, Chad",Fox News,M,59305,812,175
31127446,markknoller,"Knoller, Mark",CBS News,M,301474,794,201
259395895,JohnJHarwood,"Harwood, John",CNBC,M,149040,777,196
104914594,Phil_Mattingly,"Mattingly, Phil",CNN,M,40119,748,185
14007532,frankthorp,"Thorp, Frank",NBC News,M,39798,737,194
18678924,jmartNYT,"Martin, Jonathan",New York Times,M,197322,726,167
21252618,JakeSherman,"Sherman, Jacob S.",Politico,M,81762,641,175
104299137,DavidMDrucker,"Drucker, David",Washington Examiner,M,35033,583,127
70511174,Hadas_Gold,"Gold, Hadas",Politico,F,45221,570,195
12354832,kasie,"Hunt, Kasie",NBC News,F,187357,565,224
22771961,Acosta,"Acosta, Jim",CNN,M,350650,564,196
19580890,LeeCamp,"Camp, Lee",RTTV America,M,67601,560,6
3817401,ericgeller,"Geller, Eric",Politico,M,58173,524,149
22129280,jimsciutto,"Sciutto, James",CNN,M,172012,507,151

In [57]:
journalist_retweet_gender_summary(journalists_retweet_df[journalists_retweet_df.gender == 'M'])

   count percentage
M  55224      74.2%
F  19186      25.8%

## Reply data prep

### Load replies from tweets

In [58]:
# Simply the tweet on load
def reply_transform(tweet):
    if tweet_type(tweet) == 'reply':        
        return {
            'tweet_id': tweet['id_str'],
            'user_id': tweet['user']['id_str'],
            'screen_name': tweet['user']['screen_name'],
            'reply_to_user_id': tweet['in_reply_to_user_id_str'],
            'reply_to_screen_name': tweet['in_reply_to_screen_name'],
            'tweet_created_at': date_parse(tweet['created_at'])            
        }
    return None

base_reply_df = load_tweet_df(reply_transform, ['tweet_id', 'user_id', 'screen_name', 'reply_to_user_id',
                                           'reply_to_screen_name', 'tweet_created_at'],
                           dedupe_columns=['tweet_id'])

base_reply_df.count()

INFO:root:Loading from tweets/41feff28312c433ab004cd822212f4c2_001.json.gz
DEBUG:root:Loaded 50000
DEBUG:root:Loaded 100000
DEBUG:root:Loaded 150000
DEBUG:root:Loaded 200000
DEBUG:root:Loaded 250000
DEBUG:root:Loaded 300000
INFO:root:Loading from tweets/642bf140607547cb9d4c6b1fc49772aa_001.json.gz
DEBUG:root:Loaded 350000
DEBUG:root:Loaded 400000
DEBUG:root:Loaded 450000
DEBUG:root:Loaded 500000
DEBUG:root:Loaded 550000
INFO:root:Loading from tweets/9f7ed17c16a1494c8690b4053609539d_001.json.gz
DEBUG:root:Loaded 600000
DEBUG:root:Loaded 650000
DEBUG:root:Loaded 700000
DEBUG:root:Loaded 750000
DEBUG:root:Loaded 800000

tweet_id                126254
user_id                 126254
screen_name             126254
reply_to_user_id        126254
reply_to_screen_name    126254
tweet_created_at        126254
dtype: int64

In [59]:
base_reply_df.head()

,tweet_id,user_id,screen_name,reply_to_user_id,reply_to_screen_name,tweet_created_at
0,873663547670237184,15731368,HowardKurtz,823693635564802048,SHSanders45,2017-06-10 22:09:56+00:00
1,873590575999700992,15731368,HowardKurtz,2263438704,GillianHTurner,2017-06-10 17:19:58+00:00
2,874830107034210304,620618811,robyoon,79743108,alexburnsNYT,2017-06-14 03:25:25+00:00
3,875111766744870913,2421093038,SutherlandFox,593995023,dre_102,2017-06-14 22:04:38+00:00
4,875104971255156736,2421093038,SutherlandFox,593995023,dre_102,2017-06-14 21:37:38+00:00

### Add gender of replier

In [60]:
reply_df = base_reply_df.join(user_summary_df['gender'], on='user_id')
reply_df.count()

tweet_id                126254
user_id                 126254
screen_name             126254
reply_to_user_id        126254
reply_to_screen_name    126254
tweet_created_at        126254
gender                  126254
dtype: int64

### Distinct replied to users

In [61]:
reply_df['reply_to_user_id'].unique().size

31034

### Functions for summarizing replies by beltway journalists

In [62]:
# Gender of beltway journalists replied to by beltway journalists
def journalist_reply_gender_summary(reply_df):
    return pd.DataFrame({'count':reply_df.reply_to_gender.value_counts(), 
                  'percentage': reply_df.reply_to_gender.value_counts(normalize=True).mul(100).round(1).astype(str) + '%'})

# Reply to beltway journalists by beltway journalists
def journalist_reply_summary(reply_df):
    # Reply to count
    reply_count_df = pd.DataFrame(reply_df.reply_to_user_id.value_counts().rename('reply_to_count'))
    
    # Replying to users. That is, the number of unique users replying to each user.
    reply_to_user_id_per_user_df = reply_df[['reply_to_user_id', 'user_id']].drop_duplicates()
    replying_to_user_count_df = pd.DataFrame(reply_to_user_id_per_user_df.groupby('reply_to_user_id').size(), columns=['replying_count'])
    replying_to_user_count_df.index.name = 'user_id'
    
    # Join with user summary
    return user_summary_df.join([reply_count_df, replying_to_user_count_df], how="inner").sort_values(['reply_to_count', 'replying_count'], ascending=False)

# Fields for displaying journalist mention summaries
journalist_reply_summary_fields = ['screen_name', 'name', 'organization', 'gender', 'followers_count', 'reply_to_count', 'replying_count']

## Reply analysis
*Note that for each of these, the complete list is being written to CSV in the output directory.*

### Retweets and quotes by gender

In [63]:
replies_by_gender_df = user_summary_df[['gender', 'reply']].groupby('gender').sum()
replies_by_gender_df['percentage'] = replies_by_gender_df.reply.div(replies_by_gender_df.reply.sum()).mul(100).round(1).astype(str) + '%'
replies_by_gender_df

                      reply percentage
gender
F                 31,831.00      25.2%
M                 94,423.00      74.8%

### All retweeted by beltway journalists
This is based on screen name, which could have changed during collection period. However, for the users that would be at the top of this list, seems unlikely.

In [64]:
# Reply to count
reply_to_count_screen_name_df = pd.DataFrame(reply_df.reply_to_screen_name.value_counts().rename('reply_to_count'))

# Count of replying users
reply_to_user_id_per_user_screen_name_df = reply_df[['reply_to_screen_name', 'user_id']].drop_duplicates()
replying_count_screen_name_df = pd.DataFrame(reply_to_user_id_per_user_screen_name_df.groupby('reply_to_screen_name').size(), columns=['replying_count'])
replying_count_screen_name_df.index.name = 'screen_name'

all_replied_to_df = reply_to_count_screen_name_df.join(replying_count_screen_name_df)
all_replied_to_df.to_csv('output/all_replied_to_by_journalists.csv')
all_replied_to_df.head(25)

                 reply_to_count  replying_count
ericgeller                 1980              75
chrisgeidner               1901              37
dylanlscott                1091              65
JaredRizzi                  750              46
StevenTDennis               745              93
AlexParkerDC                720              23
sahilkapur                  662              35
jseldin                     653               2
MEPFuller                   522              92
amaxsmith                   498               6
ddale8                      495              20
CraigCaplan                 388               8
ChuckWendig                 372               1
pbump                       355              43
kelmej                      340              29
benjamin_oc                 322              11
KimberlyRobinsn             321               7
darth                       315              32
ZoeTillman                  311               8
RichardRubinDC              305              41
sdonnan                     304               7
AaronMehta                  304              35
MikeSacksEsq                299              18
heathdwilliams              298               1
ryanbeckwith                297              49

### All beltway journalists replied to by beltway journalists

In [65]:
journalists_reply_df = reply_df.join(user_summary_df['gender'], how='inner', on='reply_to_user_id', rsuffix='_reply')
journalists_reply_df.rename(columns = {'gender_reply': 'reply_to_gender'}, inplace=True)
journalists_reply_df.count()

tweet_id                43390
user_id                 43390
screen_name             43390
reply_to_user_id        43390
reply_to_screen_name    43390
tweet_created_at        43390
gender                  43390
reply_to_gender         43390
dtype: int64

In [66]:
journalists_reply_df.head()

,tweet_id,user_id,screen_name,reply_to_user_id,reply_to_screen_name,tweet_created_at,gender,reply_to_gender
7,875145443231092736,26607712,MattLaslo,26607712,MattLaslo,2017-06-15 00:18:27+00:00,M,M
8,875145257767362560,26607712,MattLaslo,26607712,MattLaslo,2017-06-15 00:17:43+00:00,M,M
19,872900196971278336,26607712,MattLaslo,26607712,MattLaslo,2017-06-08 19:36:39+00:00,M,M
1593,874712583189798912,17874756,AnthonyJRivera,26607712,MattLaslo,2017-06-13 19:38:25+00:00,M,M
8697,872610739885920256,1246438250,jimhoward529,26607712,MattLaslo,2017-06-08 00:26:27+00:00,M,M

In [67]:
journalists_reply_summary_df = journalist_reply_summary(journalists_reply_df)
journalists_reply_summary_df.to_csv('output/journalists_replied_to_by_journalists.csv')
journalists_reply_summary_df[journalist_reply_summary_fields].head(25)

,screen_name,name,organization,gender,followers_count,reply_to_count,replying_count
3817401,ericgeller,"Geller, Eric",Politico,M,58173,1980,75
22891564,chrisgeidner,"Geidner, Chris",BuzzFeed,M,83316,1901,37
118130765,dylanlscott,"Scott, Dylan L.",Stat News,M,20122,1091,65
19576571,JaredRizzi,"Rizzi, Jared",Sirius XM Satellite Radio,M,13545,750,46
46557945,StevenTDennis,"Dennis, Steven T.",Bloomberg News,M,55762,745,93
275207082,AlexParkerDC,"Parker, Alexander M.",Bloomberg BNA,M,3828,720,23
19847765,sahilkapur,"Kapur, Sahil",Bloomberg News,M,69086,662,35
583821006,jseldin,"Seldin, Jeff",Voice of America,M,5365,653,2
398088661,MEPFuller,"Fuller, Matt E.",Huffington Post,M,77919,522,92
44951698,amaxsmith,"Smith, Max",WTOP Radio,M,4726,498,6
225265639,ddale8,"Dale, Daniel",Toronto Star,M,180671,495,20
317980134,CraigCaplan,"Caplan, Craig",CSPAN,M,6143,388,8
16061946,kelmej,"Mejdrich, Kellie",CQ Roll Call,F,4146,340,29
15365623,benjamin_oc,"OConnell, Benjamin",CSPAN,M,1455,322,11
906734342,KimberlyRobinsn,"Robinson, Kimberly S.",Bloomberg BNA,F,7170,321,7
52392666,ZoeTillman,"Tillman, Zoe",BuzzFeed,F,15246,311,8
227790723,RichardRubinDC,"Rubin, Richard",Bloomberg News,M,13015,305,41
103016675,AaronMehta,"Mehta, Aaron",Sightline Media Group,M,11124,304,35
21810329,sdonnan,"Donnan, Shawn",Financial Times,M,12311,304,7
90478926,MikeSacksEsq,"Sacks, Mike",Scripps Howard News Service,M,9289,299,18
16459325,ryanbeckwith,"Beckwith, Ryan Teague",Time Magazine,M,20947,297,49
21252618,JakeSherman,"Sherman, Jacob S.",Politico,M,81762,283,72
11771512,OKnox,"Knox, Olivier",Yahoo News,M,44715,269,45
21696279,brianbeutler,"Beutler, Brian Alfred",New Republic,M,74435,269,34
21212087,Olivianuzzi,"Nuzzi, Olivia",New York,F,136276,243,25

In [68]:
journalist_reply_gender_summary(journalists_reply_df)

   count percentage
M  33178      76.5%
F  10212      23.5%

### Female beltway journalists replied to by beltway journalists

In [69]:
female_journalists_reply_summary_df = journalist_reply_summary(journalists_reply_df[journalists_reply_df.reply_to_gender == 'F'])
female_journalists_reply_summary_df.to_csv('output/female_journalists_replied_to_by_journalists.csv')
female_journalists_reply_summary_df[journalist_reply_summary_fields].head(25)

,screen_name,name,organization,gender,followers_count,reply_to_count,replying_count
16061946,kelmej,"Mejdrich, Kellie",CQ Roll Call,F,4146,340,29
906734342,KimberlyRobinsn,"Robinson, Kimberly S.",Bloomberg BNA,F,7170,321,7
52392666,ZoeTillman,"Tillman, Zoe",BuzzFeed,F,15246,311,8
21212087,Olivianuzzi,"Nuzzi, Olivia",New York,F,136276,243,25
83462293,SarahMMimms,"Mimms, Sarah",BuzzFeed,F,6216,236,24
19186003,seungminkim,"Kim, Seung Min",Politico,F,33980,233,84
3372900155,samtayrey,"Reyes, Samantha",CNN,F,10344,219,18
18825339,CahnEmily,"Cahn, Emily",Mic,F,16980,212,48
1132012321,DaniellaMicaela,"Diaz, Daniella",CNN,F,14612,181,36
158072303,ValerieInsinna,"Insinna, Valerie",Defense News,F,4572,175,20
36607254,Oriana0214,"Pawlyk, Oriana",Military.com,F,6397,174,21
96405362,laurenonthehill,"Camera, Lauren S.",U.S. News & World Report,F,3396,162,6
16812908,crousselle,"Rousselle, Christine",Townhall,F,5327,149,5
47758416,marissaaevans,"Evans, Marissa",Texas Tribune,F,6850,137,1
45399148,jeneps,"Epstein, Jennifer",Bloomberg News,F,61242,134,23
16434028,gabbilevy,"Levy, Gabrielle F.",U.S. News & World Report,F,2209,132,4
14870670,KateNocera,"Nocera, Kate",BuzzFeed,F,27714,116,36
18501487,leighmunsil,"Munsil, Leigh",CNN,F,11059,107,30
313545488,LauraLitvan,"Litvan, Laura",Bloomberg News,F,4468,104,12
116341480,RosieGray,"Gray, Rosie",The Atlantic,F,96935,99,31
82151660,kelsey_snell,"Snell, Kelse",Washington Post,F,8108,96,44
70511174,Hadas_Gold,"Gold, Hadas",Politico,F,45221,95,47
38855868,brennawilliams,"Williams, Brenna",CNN,F,7299,93,22
273700859,kpolantz,"Polantz, Katelyn J.",National Law Journal,F,2483,91,6
3273220608,KatherineBScott,"Scott, Katherine",Bloomberg Government,F,1841,85,14

### Male beltway journalists replied to by beltway journalists

In [70]:
male_journalists_reply_summary_df = journalist_reply_summary(journalists_reply_df[journalists_reply_df.reply_to_gender == 'M'])
male_journalists_reply_summary_df.to_csv('output/male_journalists_replied_to_by_journalists.csv')
male_journalists_reply_summary_df[journalist_reply_summary_fields].head(25)

,screen_name,name,organization,gender,followers_count,reply_to_count,replying_count
3817401,ericgeller,"Geller, Eric",Politico,M,58173,1980,75
22891564,chrisgeidner,"Geidner, Chris",BuzzFeed,M,83316,1901,37
118130765,dylanlscott,"Scott, Dylan L.",Stat News,M,20122,1091,65
19576571,JaredRizzi,"Rizzi, Jared",Sirius XM Satellite Radio,M,13545,750,46
46557945,StevenTDennis,"Dennis, Steven T.",Bloomberg News,M,55762,745,93
275207082,AlexParkerDC,"Parker, Alexander M.",Bloomberg BNA,M,3828,720,23
19847765,sahilkapur,"Kapur, Sahil",Bloomberg News,M,69086,662,35
583821006,jseldin,"Seldin, Jeff",Voice of America,M,5365,653,2
398088661,MEPFuller,"Fuller, Matt E.",Huffington Post,M,77919,522,92
44951698,amaxsmith,"Smith, Max",WTOP Radio,M,4726,498,6
225265639,ddale8,"Dale, Daniel",Toronto Star,M,180671,495,20
317980134,CraigCaplan,"Caplan, Craig",CSPAN,M,6143,388,8
15365623,benjamin_oc,"OConnell, Benjamin",CSPAN,M,1455,322,11
227790723,RichardRubinDC,"Rubin, Richard",Bloomberg News,M,13015,305,41
103016675,AaronMehta,"Mehta, Aaron",Sightline Media Group,M,11124,304,35
21810329,sdonnan,"Donnan, Shawn",Financial Times,M,12311,304,7
90478926,MikeSacksEsq,"Sacks, Mike",Scripps Howard News Service,M,9289,299,18
16459325,ryanbeckwith,"Beckwith, Ryan Teague",Time Magazine,M,20947,297,49
21252618,JakeSherman,"Sherman, Jacob S.",Politico,M,81762,283,72
11771512,OKnox,"Knox, Olivier",Yahoo News,M,44715,269,45
21696279,brianbeutler,"Beutler, Brian Alfred",New Republic,M,74435,269,34
190360266,connorobrienNH,"OBrien, Connor",Politico,M,6158,241,35
63717541,phillyrich1,"Weinstein, Richard",CSPAN,M,3827,241,4
407013776,burgessev,"Everett, John B.",Politico,M,31010,238,79
80111587,JeffYoung,"Young, Jeffrey",Huffington Post,M,26497,238,31

### Beltway journalists replied to by female beltway journalists

In [71]:
journalists_replied_to_by_female_summary_df = journalist_reply_summary(journalists_reply_df[journalists_reply_df.gender == 'F'])
journalists_replied_to_by_female_summary_df.to_csv('output/journalists_replied_to_by_female_journalists.csv')
journalists_replied_to_by_female_summary_df[journalist_reply_summary_fields].head(25)

,screen_name,name,organization,gender,followers_count,reply_to_count,replying_count
906734342,KimberlyRobinsn,"Robinson, Kimberly S.",Bloomberg BNA,F,7170,313,2
52392666,ZoeTillman,"Tillman, Zoe",BuzzFeed,F,15246,305,3
16061946,kelmej,"Mejdrich, Kellie",CQ Roll Call,F,4146,295,15
83462293,SarahMMimms,"Mimms, Sarah",BuzzFeed,F,6216,195,7
21212087,Olivianuzzi,"Nuzzi, Olivia",New York,F,136276,190,9
3372900155,samtayrey,"Reyes, Samantha",CNN,F,10344,179,7
96405362,laurenonthehill,"Camera, Lauren S.",U.S. News & World Report,F,3396,159,5
18825339,CahnEmily,"Cahn, Emily",Mic,F,16980,148,18
1132012321,DaniellaMicaela,"Diaz, Daniella",CNN,F,14612,144,22
16812908,crousselle,"Rousselle, Christine",Townhall,F,5327,144,3
47758416,marissaaevans,"Evans, Marissa",Texas Tribune,F,6850,137,1
36607254,Oriana0214,"Pawlyk, Oriana",Military.com,F,6397,133,5
16434028,gabbilevy,"Levy, Gabrielle F.",U.S. News & World Report,F,2209,130,2
19186003,seungminkim,"Kim, Seung Min",Politico,F,33980,108,36
45399148,jeneps,"Epstein, Jennifer",Bloomberg News,F,61242,103,7
158072303,ValerieInsinna,"Insinna, Valerie",Defense News,F,4572,97,8
313545488,LauraLitvan,"Litvan, Laura",Bloomberg News,F,4468,97,5
18501487,leighmunsil,"Munsil, Leigh",CNN,F,11059,88,13
273700859,kpolantz,"Polantz, Katelyn J.",National Law Journal,F,2483,84,2
114670081,rebleber,"Leber, Rebecca J.",Mother Jones,F,16467,79,3
407013776,burgessev,"Everett, John B.",Politico,M,31010,78,30
118130765,dylanlscott,"Scott, Dylan L.",Stat News,M,20122,78,20
116341480,RosieGray,"Gray, Rosie",The Atlantic,F,96935,73,13
103016675,AaronMehta,"Mehta, Aaron",Sightline Media Group,M,11124,72,10
48038024,karentravers,"Travers, Karen",ABC News,F,17155,71,7

In [72]:
journalist_reply_gender_summary(journalists_reply_df[journalists_reply_df.gender == 'F'])

   count percentage
F   7412      72.1%
M   2864      27.9%

### Beltway journalists replied to by male beltway journalists

In [73]:
journalists_replied_to_by_male_summary_df = journalist_reply_summary(journalists_reply_df[journalists_reply_df.gender == 'M'])
journalists_replied_to_by_male_summary_df.to_csv('output/journalists_replied_to_by_male_journalists.csv')
journalists_replied_to_by_male_summary_df[journalist_reply_summary_fields].head(25)

,screen_name,name,organization,gender,followers_count,reply_to_count,replying_count
3817401,ericgeller,"Geller, Eric",Politico,M,58173,1926,58
22891564,chrisgeidner,"Geidner, Chris",BuzzFeed,M,83316,1864,28
118130765,dylanlscott,"Scott, Dylan L.",Stat News,M,20122,1013,45
19576571,JaredRizzi,"Rizzi, Jared",Sirius XM Satellite Radio,M,13545,726,35
275207082,AlexParkerDC,"Parker, Alexander M.",Bloomberg BNA,M,3828,709,20
46557945,StevenTDennis,"Dennis, Steven T.",Bloomberg News,M,55762,686,61
583821006,jseldin,"Seldin, Jeff",Voice of America,M,5365,653,2
19847765,sahilkapur,"Kapur, Sahil",Bloomberg News,M,69086,646,24
44951698,amaxsmith,"Smith, Max",WTOP Radio,M,4726,495,4
225265639,ddale8,"Dale, Daniel",Toronto Star,M,180671,490,16
398088661,MEPFuller,"Fuller, Matt E.",Huffington Post,M,77919,456,64
317980134,CraigCaplan,"Caplan, Craig",CSPAN,M,6143,388,8
15365623,benjamin_oc,"OConnell, Benjamin",CSPAN,M,1455,318,8
21810329,sdonnan,"Donnan, Shawn",Financial Times,M,12311,303,6
90478926,MikeSacksEsq,"Sacks, Mike",Scripps Howard News Service,M,9289,294,13
227790723,RichardRubinDC,"Rubin, Richard",Bloomberg News,M,13015,284,33
21696279,brianbeutler,"Beutler, Brian Alfred",New Republic,M,74435,262,29
21252618,JakeSherman,"Sherman, Jacob S.",Politico,M,81762,249,52
16459325,ryanbeckwith,"Beckwith, Ryan Teague",Time Magazine,M,20947,241,30
11771512,OKnox,"Knox, Olivier",Yahoo News,M,44715,240,35
63717541,phillyrich1,"Weinstein, Richard",CSPAN,M,3827,240,3
103016675,AaronMehta,"Mehta, Aaron",Sightline Media Group,M,11124,232,25
26559241,fordm,"Ford, Matt S.",The Atlantic,M,27571,232,15
437019753,TimothyNoah1,"Noah, Timothy R.",Politico,M,15090,231,12
23332846,mattzap,"Zapotosky, Matt",Washington Post,M,56887,230,7

In [74]:
journalists_replied_to_by_male_summary_df.count()

screen_name          1102
name                 1102
organization         1102
position             1101
gender               1102
followers_count      1102
following_count      1102
tweet_count          1102
user_created_at      1102
verified             1102
protected            1102
original             1102
quote                1102
reply                1102
retweet              1102
tweets_in_dataset    1102
reply_to_count       1102
replying_count       1102
dtype: int64

In [75]:
journalist_reply_gender_summary(journalists_reply_df[journalists_reply_df.gender == 'M'])

   count percentage
M  30314      91.5%
F   2800       8.5%

## Following data prep

### Load following
Users that are followed by beltway journalists

In [76]:
base_follower_to_followed_df = pd.read_csv('source_data/follower_to_followed.csv', 
                                      names=['follower_user_id', 'followed_user_id'],
                                      dtype={'follower_user_id': np.str, 'followed_user_id': np.str})
base_follower_to_followed_df.drop_duplicates(inplace=True)
base_follower_to_followed_df.count()

follower_user_id    3417018
followed_user_id    3417018
dtype: int64

In [77]:
base_follower_to_followed_df.head()

  follower_user_id    followed_user_id
0         91156486          3092427779
1         91156486            36953109
2         91156486           424274008
3         91156486  779044378929168384
4         91156486           339834914

In [78]:
user_info_df.head()

,name,organization,position,gender,followers_count,following_count,tweet_count,user_created_at,verified,protected
user_id,,,,,,,,,,
20711445,"Glinski, Nina",NaN,Freelance Reporter,F,963,507,909,Thu Feb 12 20:00:53 +0000 2009,False,False
258917371,"Enders, David",NaN,Journalist,M,1444,484,6296,Mon Feb 28 19:52:03 +0000 2011,True,False
297046834,"Barakat, Matthew",Associated Press,Northern Virginia Correspondent,M,759,352,631,Wed May 11 20:55:24 +0000 2011,True,False
455585786,"Atkins, Kimberly",Boston Herald,Chief Washington Reporter/Columnist,F,2944,2691,6277,Thu Jan 05 08:26:46 +0000 2012,True,False
42584840,"Vlahou, Toula",CQ Roll Call,Editor & Podcast Producer,F,2703,201,6366,Tue May 26 07:41:38 +0000 2009,False,False

In [79]:
# This will drop followers of journalists that have no tweets
follower_to_followed_df = base_follower_to_followed_df.join(user_summary_df['gender'], on='follower_user_id', how='inner')
follower_to_followed_df.count()

follower_user_id    3311406
followed_user_id    3311406
gender              3311406
dtype: int64

In [80]:
follower_to_followed_df.head()

    follower_user_id followed_user_id gender
261         15219888       3291076716      F
262         15219888        119175339      F
263         15219888        418837047      F
264         15219888        259817885      F
265         15219888        287263845      F

### Load followed users

In [81]:
followed_screen_name_lookup_df = pd.read_csv('source_data/followed.csv', 
                                             names=['screen_name', 'user_id'],
                                             dtype={'user_id': np.str}).set_index(['user_id'])
followed_screen_name_lookup_df.head()

             screen_name
user_id
17665874      onlinehigh
2389275799     HLSPOLICY
314728983      Veolia_NA
239409802     fishingbuk
522799320   GoldsmithBev

### Functions for summarizing following by beltway journalists

In [82]:
# Gender of beltway journalists followed by beltway journalists
def journalist_followed_gender_summary(follower_to_followed_df):
    return pd.DataFrame({'count':follower_to_followed_df.followed_gender.value_counts(), 
                  'percentage': follower_to_followed_df.followed_gender.value_counts(normalize=True).mul(100).round(1).astype(str) + '%'})

# Following of beltway journalists by beltway journalists
def journalist_following_summary(follower_to_followed_df):
    # Following count
    following_count_df = pd.DataFrame(follower_to_followed_df.followed_user_id.value_counts().rename('journalist_follower_count'))

    # Join with user summary
    return user_summary_df.join(following_count_df, how="inner").sort_values(['journalist_follower_count'], ascending=False)

# Fields for displaying journalist mention summaries
journalist_following_summary_fields = ['screen_name', 'name', 'organization', 'gender', 'followers_count', 'journalist_follower_count']

## Following analysis

### All followed by beltway journalists

In [83]:
# Following count
all_followed_df = pd.DataFrame(follower_to_followed_df.followed_user_id.value_counts().rename('following_count')).join(followed_screen_name_lookup_df)
all_followed_df.to_csv('output/all_followed_by_journalists.csv')
all_followed_df.head(25)

                    following_count      screen_name
813286                         1671      BarackObama
51241574                       1629               AP
25073877                       1613  realDonaldTrump
807095                         1581          nytimes
2467791                        1532   washingtonpost
1339835893                     1531   HillaryClinton
818927131883356161             1522         PressSec
822215673812119553             1507       WhiteHouse
822215679726100480             1488            POTUS
9300262                        1457         politico
30313925                       1402  ObamaWhiteHouse
14246001                       1384        mikeallen
93069110                       1368        maggieNYT
14529929                       1337       jaketapper
428333                         1289           cnnbrk
3108351                        1279              WSJ
1536791610                     1279          POTUS44
113420831                      1258       PressSec44
50325797                       1258        chucktodd
16017475                       1234    NateSilver538
18622869                       1231        ezraklein
86129724                       1173     costareports
1652541                        1144          Reuters
1330457336                     1128      billclinton
5392522                        1124              NPR

### All beltway journalists followed by beltway journalists

In [84]:
follower_to_journalist_followed_df = follower_to_followed_df.join(user_summary_df['gender'], how='inner', on='followed_user_id', rsuffix='_followed')
follower_to_journalist_followed_df.rename(columns = {'gender_followed': 'followed_gender'}, inplace=True)
follower_to_journalist_followed_df.count()

follower_user_id    280340
followed_user_id    280340
gender              280340
followed_gender     280340
dtype: int64

In [85]:
follower_to_journalist_followed_df.head()

      follower_user_id followed_user_id gender followed_gender
287           15219888         46582653      F               M
21810         15780280         46582653      M               M
24153         14245722         46582653      M               M
40694         37865281         46582653      F               M
66585        165204211         46582653      M               M

In [86]:
follower_to_journalist_followed_summary_df = journalist_following_summary(follower_to_journalist_followed_df)
follower_to_journalist_followed_summary_df.to_csv('output/journalists_followed_by_journalists.csv')
follower_to_journalist_followed_summary_df[journalist_following_summary_fields].head(25)

,screen_name,name,organization,gender,followers_count,journalist_follower_count
14529929,jaketapper,"Tapper, Jake",CNN,M,1305680,1337
50325797,chucktodd,"Todd, Chuck",NBC News,M,1781247,1258
19107878,GlennThrush,"Thrush, Glenn H.",New York Times,M,308181,1116
31127446,markknoller,"Knoller, Mark",CBS News,M,301474,1107
13524182,daveweigel,"Weigel, David",Washington Post,M,332344,1106
61734492,Fahrenthold,"Fahrenthold, David",Washington Post,M,451778,1082
18678924,jmartNYT,"Martin, Jonathan",New York Times,M,197322,1032
39155029,mkraju,"Raju, Manu K.",CNN,M,88366,977
16930125,edatpost,"OKeefe, Edward",Washington Post,M,58670,973
85131054,jeffzeleny,"Zeleny, Jeff",CNN,M,244114,970
21316253,ZekeJMiller,"Miller, Zeke J.",Time Magazine,M,198517,915
89820928,mitchellreports,"Mitchell, Andrea",NBC News,F,1388543,909
59676104,danbalz,"Balz, Daniel",Washington Post,M,90819,892
108617810,DanaBashCNN,"Bash, Dana",CNN,F,281861,884
15463671,samstein,"Stein, Sam",Huffington Post,M,313211,880
130945778,mollyesque,"Ball, Molly",The Atlantic,F,116857,877
46176168,MajorCBS,"Garrett, Major",CBS News,M,178640,872
21252618,JakeSherman,"Sherman, Jacob S.",Politico,M,81762,868
16187637,ChadPergram,"Pergram, Chad",Fox News,M,59305,866
12354832,kasie,"Hunt, Kasie",NBC News,F,187357,860
22771961,Acosta,"Acosta, Jim",CNN,M,350650,860
123327472,peterbakernyt,"Baker, Peter",New York Times,M,96956,856
15931637,jonkarl,"Karl, Jonathan",ABC News,M,183467,830
11771512,OKnox,"Knox, Olivier",Yahoo News,M,44715,788
259395895,JohnJHarwood,"Harwood, John",CNBC,M,149040,783

In [87]:
journalist_followed_gender_summary(follower_to_journalist_followed_df)

    count percentage
M  174283      62.2%
F  106057      37.8%

### Female beltway journalists followed by beltway journalists

In [88]:
follower_to_female_journalist_followed_df = journalist_following_summary(follower_to_journalist_followed_df[follower_to_journalist_followed_df.followed_gender == 'F'])
follower_to_female_journalist_followed_df.to_csv('output/female_journalists_followed_by_journalists.csv')
follower_to_female_journalist_followed_df[journalist_following_summary_fields].head(25)

,screen_name,name,organization,gender,followers_count,journalist_follower_count
89820928,mitchellreports,"Mitchell, Andrea",NBC News,F,1388543,909
108617810,DanaBashCNN,"Bash, Dana",CNN,F,281861,884
130945778,mollyesque,"Ball, Molly",The Atlantic,F,116857,877
12354832,kasie,"Hunt, Kasie",NBC News,F,187357,860
33919343,AshleyRParker,"Parker, Ashley",Washington Post,F,122382,777
28181835,jpaceDC,"Pace, Julie",Associated Press,F,46017,738
70511174,Hadas_Gold,"Gold, Hadas",Politico,F,45221,679
21307076,SusanPage,"Page, Susan",USA Today,F,48675,670
19186003,seungminkim,"Kim, Seung Min",Politico,F,33980,664
45399148,jeneps,"Epstein, Jennifer",Bloomberg News,F,61242,631
224320485,KellyO,"ODonnell, Kelly",NBC News,F,148476,630
20776497,BFischerMartin,"Fischer Martin, Betsy",Bloomberg News,F,50890,609
77032777,apalmerdc,"Palmer, Anna A.",Politico,F,30523,591
116341480,RosieGray,"Gray, Rosie",The Atlantic,F,96935,589
237477771,juliehdavis,"Davis, Julie",New York Times,F,49821,570
58869089,margarettalev,"Talev, Margaret",Bloomberg News,F,19588,569
14870670,KateNocera,"Nocera, Kate",BuzzFeed,F,27714,567
46817943,brikeilarcnn,"Keilar, Brianna",CNN,F,105276,557
22772264,carolelee,"Lee, Carol",Wall Street Journal / Dow Jones,F,31840,552
15159913,JFKucinich,"Kucinich, Jacqueline",Daily Beast,F,31210,549
297532865,kwelkernbc,"Welker, Kristen",NBC News,F,99234,537
15727317,aterkel,"Terkel, Amanda",Huffington Post,F,78736,527
17881467,rebeccagberg,"Berg, Rebecca",RealClearPolitics,F,48798,516
151444950,DaviSusan,"Davis, Susan",National Public Radio,F,27297,506
27055034,SabrinaSiddiqui,"Siddiqui, Sabrina",Guardian US,F,53835,474

### Male beltway journalists followed by beltway journalists

In [89]:
follower_to_male_journalist_followed_df = journalist_following_summary(follower_to_journalist_followed_df[follower_to_journalist_followed_df.followed_gender == 'M'])
follower_to_male_journalist_followed_df.to_csv('output/male_journalists_followed_by_journalists.csv')
follower_to_male_journalist_followed_df[journalist_following_summary_fields].head(25)

,screen_name,name,organization,gender,followers_count,journalist_follower_count
14529929,jaketapper,"Tapper, Jake",CNN,M,1305680,1337
50325797,chucktodd,"Todd, Chuck",NBC News,M,1781247,1258
19107878,GlennThrush,"Thrush, Glenn H.",New York Times,M,308181,1116
31127446,markknoller,"Knoller, Mark",CBS News,M,301474,1107
13524182,daveweigel,"Weigel, David",Washington Post,M,332344,1106
61734492,Fahrenthold,"Fahrenthold, David",Washington Post,M,451778,1082
18678924,jmartNYT,"Martin, Jonathan",New York Times,M,197322,1032
39155029,mkraju,"Raju, Manu K.",CNN,M,88366,977
16930125,edatpost,"OKeefe, Edward",Washington Post,M,58670,973
85131054,jeffzeleny,"Zeleny, Jeff",CNN,M,244114,970
21316253,ZekeJMiller,"Miller, Zeke J.",Time Magazine,M,198517,915
59676104,danbalz,"Balz, Daniel",Washington Post,M,90819,892
15463671,samstein,"Stein, Sam",Huffington Post,M,313211,880
46176168,MajorCBS,"Garrett, Major",CBS News,M,178640,872
21252618,JakeSherman,"Sherman, Jacob S.",Politico,M,81762,868
16187637,ChadPergram,"Pergram, Chad",Fox News,M,59305,866
22771961,Acosta,"Acosta, Jim",CNN,M,350650,860
123327472,peterbakernyt,"Baker, Peter",New York Times,M,96956,856
15931637,jonkarl,"Karl, Jonathan",ABC News,M,183467,830
11771512,OKnox,"Knox, Olivier",Yahoo News,M,44715,788
259395895,JohnJHarwood,"Harwood, John",CNBC,M,149040,783
46557945,StevenTDennis,"Dennis, Steven T.",Bloomberg News,M,55762,781
18172905,rickklein,"Klein, Richard",ABC News,M,109170,737
997684836,pkcapitol,"Kane, Paul",Washington Post,M,31300,728
21768766,jonathanweisman,"Weisman, Jonathan",New York Times,M,57549,728

### Beltway journalists followed by female beltway journalists

In [90]:
female_follower_to_journalist_followed_df = journalist_following_summary(follower_to_journalist_followed_df[follower_to_journalist_followed_df.gender == 'F'])
female_follower_to_journalist_followed_df.to_csv('output/journalists_followed_by_female_journalists.csv')
female_follower_to_journalist_followed_df[journalist_following_summary_fields].head(25)

,screen_name,name,organization,gender,followers_count,journalist_follower_count
14529929,jaketapper,"Tapper, Jake",CNN,M,1305680,619
50325797,chucktodd,"Todd, Chuck",NBC News,M,1781247,569
31127446,markknoller,"Knoller, Mark",CBS News,M,301474,505
19107878,GlennThrush,"Thrush, Glenn H.",New York Times,M,308181,490
13524182,daveweigel,"Weigel, David",Washington Post,M,332344,484
61734492,Fahrenthold,"Fahrenthold, David",Washington Post,M,451778,474
18678924,jmartNYT,"Martin, Jonathan",New York Times,M,197322,445
16930125,edatpost,"OKeefe, Edward",Washington Post,M,58670,444
89820928,mitchellreports,"Mitchell, Andrea",NBC News,F,1388543,441
85131054,jeffzeleny,"Zeleny, Jeff",CNN,M,244114,435
39155029,mkraju,"Raju, Manu K.",CNN,M,88366,434
108617810,DanaBashCNN,"Bash, Dana",CNN,F,281861,430
21316253,ZekeJMiller,"Miller, Zeke J.",Time Magazine,M,198517,420
22771961,Acosta,"Acosta, Jim",CNN,M,350650,402
15463671,samstein,"Stein, Sam",Huffington Post,M,313211,398
16187637,ChadPergram,"Pergram, Chad",Fox News,M,59305,397
21252618,JakeSherman,"Sherman, Jacob S.",Politico,M,81762,394
46176168,MajorCBS,"Garrett, Major",CBS News,M,178640,390
15931637,jonkarl,"Karl, Jonathan",ABC News,M,183467,389
130945778,mollyesque,"Ball, Molly",The Atlantic,F,116857,386
59676104,danbalz,"Balz, Daniel",Washington Post,M,90819,382
123327472,peterbakernyt,"Baker, Peter",New York Times,M,96956,379
12354832,kasie,"Hunt, Kasie",NBC News,F,187357,366
11771512,OKnox,"Knox, Olivier",Yahoo News,M,44715,354
33919343,AshleyRParker,"Parker, Ashley",Washington Post,F,122382,339

In [91]:
journalist_followed_gender_summary(follower_to_journalist_followed_df[follower_to_journalist_followed_df.gender == 'F'])

   count percentage
M  73950      62.0%
F  45300      38.0%

### Beltway journalists followed by male beltway journalists

In [92]:
male_follower_to_journalist_followed_df = journalist_following_summary(follower_to_journalist_followed_df[follower_to_journalist_followed_df.gender == 'M'])
male_follower_to_journalist_followed_df.to_csv('output/journalists_followed_by_male_journalists.csv')
male_follower_to_journalist_followed_df[journalist_following_summary_fields].head(25)

,screen_name,name,organization,gender,followers_count,journalist_follower_count
14529929,jaketapper,"Tapper, Jake",CNN,M,1305680,718
50325797,chucktodd,"Todd, Chuck",NBC News,M,1781247,689
19107878,GlennThrush,"Thrush, Glenn H.",New York Times,M,308181,626
13524182,daveweigel,"Weigel, David",Washington Post,M,332344,622
61734492,Fahrenthold,"Fahrenthold, David",Washington Post,M,451778,608
31127446,markknoller,"Knoller, Mark",CBS News,M,301474,602
18678924,jmartNYT,"Martin, Jonathan",New York Times,M,197322,587
39155029,mkraju,"Raju, Manu K.",CNN,M,88366,543
85131054,jeffzeleny,"Zeleny, Jeff",CNN,M,244114,535
16930125,edatpost,"OKeefe, Edward",Washington Post,M,58670,529
59676104,danbalz,"Balz, Daniel",Washington Post,M,90819,510
21316253,ZekeJMiller,"Miller, Zeke J.",Time Magazine,M,198517,495
12354832,kasie,"Hunt, Kasie",NBC News,F,187357,494
130945778,mollyesque,"Ball, Molly",The Atlantic,F,116857,491
46176168,MajorCBS,"Garrett, Major",CBS News,M,178640,482
15463671,samstein,"Stein, Sam",Huffington Post,M,313211,482
123327472,peterbakernyt,"Baker, Peter",New York Times,M,96956,477
21252618,JakeSherman,"Sherman, Jacob S.",Politico,M,81762,474
16187637,ChadPergram,"Pergram, Chad",Fox News,M,59305,469
89820928,mitchellreports,"Mitchell, Andrea",NBC News,F,1388543,468
259395895,JohnJHarwood,"Harwood, John",CNBC,M,149040,464
22771961,Acosta,"Acosta, Jim",CNN,M,350650,458
108617810,DanaBashCNN,"Bash, Dana",CNN,F,281861,454
46557945,StevenTDennis,"Dennis, Steven T.",Bloomberg News,M,55762,446
15931637,jonkarl,"Karl, Jonathan",ABC News,M,183467,441

In [93]:
journalist_followed_gender_summary(follower_to_journalist_followed_df[follower_to_journalist_followed_df.gender == 'M'])

    count percentage
M  100333      62.3%
F   60757      37.7%