# Retweets and quotes

In [1]:
import pandas as pd
import numpy as np
import logging
from dateutil.parser import parse as date_parse
from utils import tweet_iter, tweet_type

logger = logging.getLogger()
logger.setLevel(logging.DEBUG)

# Filepaths of the files to load.
filepaths = ['d59d27e2f2ed4778881573df2ecf2fad_001.json.gz',
            '25319652321b4bb498b250ffc53aa0f0_001.json.gz']

# Simply the tweet on load
def retweet_transform(tweet):
    retweet = tweet.get('retweeted_status') or tweet.get('quoted_status')
    if retweet:
        return {
            'tweet_id': tweet['id_str'],
            'user_id': tweet['user']['id_str'],
            'screen_name': tweet['user']['screen_name'],
            'retweet_user_id': retweet['user']['id_str'],
            'retweet_screen_name': retweet['user']['screen_name'],
            'tweet_created_at': date_parse(tweet['created_at'])            
        }
    return None

retweet_df = pd.DataFrame(tweet_iter(filepaths, tweet_transform_func=retweet_transform))
retweet_df.count()

DEBUG:root:Loaded 0
DEBUG:root:Loaded 50000
DEBUG:root:Loaded 100000
DEBUG:root:Loaded 150000
DEBUG:root:Loaded 200000
DEBUG:root:Loaded 250000
DEBUG:root:Loaded 300000
DEBUG:root:Loaded 350000
DEBUG:root:Loaded 400000
DEBUG:root:Loaded 450000
DEBUG:root:Loaded 500000
DEBUG:root:Loaded 550000
DEBUG:root:Loaded 600000
DEBUG:root:Loaded 650000
DEBUG:root:Loaded 700000
DEBUG:root:Loaded 750000
DEBUG:root:Loaded 800000
DEBUG:root:Loaded 850000
DEBUG:root:Loaded 900000
DEBUG:root:Loaded 950000
DEBUG:root:Loaded 1000000
DEBUG:root:Loaded 1050000
DEBUG:root:Loaded 1100000
DEBUG:root:Loaded 1150000
DEBUG:root:Loaded 1200000
DEBUG:root:Loaded 1250000
DEBUG:root:Loaded 1300000
DEBUG:root:Loaded 1350000
DEBUG:root:Loaded 1400000
DEBUG:root:Loaded 1450000
DEBUG:root:Loaded 1500000
DEBUG:root:Loaded 0
DEBUG:root:Loaded 50000
DEBUG:root:Loaded 100000
DEBUG:root:Loaded 150000
DEBUG:root:Loaded 200000
DEBUG:root:Loaded 250000
DEBUG:root:Loaded 300000
DEBUG:root:Loaded 350000
DEBUG:root:Loaded 400000
DEBUG:root:Loaded 450000
DEBUG:root:Loaded 500000
DEBUG:root:Loaded 550000
DEBUG:root:Loaded 600000
DEBUG:root:Loaded 650000
DEBUG:root:Loaded 700000
DEBUG:root:Loaded 750000
DEBUG:root:Loaded 800000
DEBUG:root:Loaded 850000
DEBUG:root:Loaded 900000
DEBUG:root:Loaded 950000
DEBUG:root:Loaded 1000000
DEBUG:root:Loaded 1050000
DEBUG:root:Loaded 1100000
DEBUG:root:Loaded 1150000
DEBUG:root:Loaded 1200000
DEBUG:root:Loaded 1250000
DEBUG:root:Loaded 1300000
DEBUG:root:Loaded 1350000
DEBUG:root:Loaded 1400000
DEBUG:root:Loaded 1450000
DEBUG:root:Loaded 1500000
DEBUG:root:Loaded 1550000
DEBUG:root:Loaded 1600000
DEBUG:root:Loaded 1650000
DEBUG:root:Loaded 1700000
DEBUG:root:Loaded 1750000
DEBUG:root:Loaded 1800000

retweet_screen_name    1361711
retweet_user_id        1361711
screen_name            1361711
tweet_created_at       1361711
tweet_id               1361711
user_id                1361711
dtype: int64

In [2]:
retweet_df.head()

,retweet_screen_name,retweet_user_id,screen_name,tweet_created_at,tweet_id,user_id
0,paulconndc,64502388,A_Childers_,2017-03-31 14:41:35+00:00,847821180832804864,1638925448
1,azevin,14744078,A_Childers_,2017-03-31 14:15:34+00:00,847814632643473411,1638925448
2,TiffanyStecker,17679229,A_Childers_,2017-03-30 17:47:04+00:00,847505467995693057,1638925448
3,Calvinn_Hobbes,1579422614,A_Childers_,2017-03-30 13:50:02+00:00,847445818072317952,1638925448
4,business,34713362,A_Childers_,2017-03-30 13:17:17+00:00,847437576856330241,1638925448

### Remove duplicates

In [3]:
dedupe_retweet_df = retweet_df.drop_duplicates()
dedupe_retweet_df.count()

retweet_screen_name    1348290
retweet_user_id        1348290
screen_name            1348290
tweet_created_at       1348290
tweet_id               1348290
user_id                1348290
dtype: int64

In [4]:
# From the retweets, extract map of user ids to screen names
retweet_user_id_lookup_df = dedupe_retweet_df.loc[dedupe_retweet_df.groupby('retweet_user_id')['tweet_created_at'].idxmax()].ix[:,['retweet_user_id', 'retweet_screen_name']].set_index(['retweet_user_id'])
retweet_user_id_lookup_df.count()

retweet_screen_name    108098
dtype: int64

In [5]:
retweet_user_id_lookup_df.head()

                retweet_screen_name
retweet_user_id
1000010898              RoyScranton
100002112            whyyradiotimes
100003141                NCCDtweets
100005598                 hotelkeys
100007369           signixsolutions

In [6]:
# Group by user_id
# This count should match the retweet_user_id map count
retweet_summary_user_id_df = pd.DataFrame(dedupe_retweet_df.groupby('retweet_user_id').size(), columns=['retweet_count'])
retweet_summary_user_id_df.count()

retweet_count    108098
dtype: int64

In [7]:
retweet_summary_user_id_df.head()

                 retweet_count
retweet_user_id
1000010898                   2
100002112                   37
100003141                    5
100005598                    9
100007369                    1

In [8]:
# Join with user id map
retweet_summary_df = retweet_summary_user_id_df.join(retweet_user_id_lookup_df)
retweet_summary_df.count()

retweet_count          108098
retweet_screen_name    108098
dtype: int64

In [9]:
retweet_summary_df.head()

                 retweet_count retweet_screen_name
retweet_user_id
1000010898                   2         RoyScranton
100002112                   37      whyyradiotimes
100003141                    5          NCCDtweets
100005598                    9           hotelkeys
100007369                    1     signixsolutions

### Load known Twitter accounts

In [10]:
from utils import load_screen_name_lookup_df

screen_name_lookup_df = load_screen_name_lookup_df()
screen_name_lookup_df['type'].value_counts()

media          5915
government     2959
reporters      1457
politicians     601
Name: type, dtype: int64

### Join the retweets and known Twitter accounts

In [11]:
retweet_join_df = retweet_summary_df.join(screen_name_lookup_df, how='left')
retweet_join_df['type'].fillna('unknown', inplace=True)
retweet_join_df.index.name = 'user_id'
retweet_join_df.head()

,retweet_count,retweet_screen_name,screen_name,type,screen_name_lower
user_id,,,,,
1000010898,2,RoyScranton,NaN,unknown,NaN
100002112,37,whyyradiotimes,NaN,unknown,NaN
100003141,5,NCCDtweets,NaN,unknown,NaN
100005598,9,hotelkeys,NaN,unknown,NaN
100007369,1,signixsolutions,NaN,unknown,NaN

### Top (by retweet count) accounts that are matched against known Twitter accounts <----------

In [12]:
top_known_retweets_df = retweet_join_df[pd.notnull(retweet_join_df.screen_name)].sort_values('retweet_count', ascending=False)
top_known_retweets_df[['retweet_screen_name', 'retweet_count', 'type']].head(20)

          retweet_screen_name  retweet_count         type
user_id
51241574                   AP           8998        media
426802833         AP_Politics           8436        media
25073877      realDonaldTrump           8320  politicians
1917731               thehill           6307        media
9300262              politico           6024        media
2467791        washingtonpost           5552        media
15922214             rollcall           4769        media
807095                nytimes           4062        media
21316253          ZekeJMiller           3860    reporters
13524182           daveweigel           3437    reporters
1652541               Reuters           3025        media
46557945        StevenTDennis           2950    reporters
19186003          seungminkim           2743    reporters
906734342     KimberlyRobinsn           2719    reporters
407013776           burgessev           2700    reporters
3108351                   WSJ           2649        media
398088661           MEPFuller           2636    reporters
23232204      ShaneGoldmacher           2624    reporters
217550862        BresPolitico           2532    reporters
140286364     nielslesniewski           2486    reporters

### Number of matched accounts <----------
retweet_screen_name is the number of unique mentioned accounts. screen_name is the
number of matched unique accounts.

In [13]:
retweet_join_df.count()

retweet_count          108098
retweet_screen_name    108098
screen_name              3542
type                   108098
screen_name_lower        3542
dtype: int64

## Top accounts by retweets <----------
Unknown for type indicates that it is not matched with an known Twitter account.

In [14]:
top_retweets_df = retweet_join_df.sort_values('retweet_count', ascending=False)
top_retweets_df[['retweet_screen_name', 'retweet_count', 'type']].head(50)

           retweet_screen_name  retweet_count         type
user_id
51241574                    AP           8998        media
426802833          AP_Politics           8436        media
25073877       realDonaldTrump           8320  politicians
90614279         EENewsUpdates           6548      unknown
2312829909               CQnow           6495      unknown
1917731                thehill           6307        media
9300262               politico           6024        media
93069110             maggieNYT           5751      unknown
2467791         washingtonpost           5552        media
15922214              rollcall           4769        media
34713362              business           4105      unknown
807095                 nytimes           4062        media
21316253           ZekeJMiller           3860    reporters
13524182            daveweigel           3437    reporters
299802277           BraddJaffy           3056      unknown
1652541                Reuters           3025        media
46557945         StevenTDennis           2950    reporters
59331128          PhilipRucker           2843      unknown
14529929            jaketapper           2807      unknown
19186003           seungminkim           2743    reporters
207660339          POLITICOPro           2729      unknown
906734342      KimberlyRobinsn           2719    reporters
407013776            burgessev           2700    reporters
3108351                    WSJ           2649        media
398088661            MEPFuller           2636    reporters
23232204       ShaneGoldmacher           2624    reporters
14412533           CillizzaCNN           2567      unknown
217550862         BresPolitico           2532    reporters
17243582        blakehounshell           2509      unknown
140286364      nielslesniewski           2486    reporters
48120914              SopanDeb           2470      unknown
21252618           JakeSherman           2462    reporters
19914257                mviser           2416    reporters
18678924              jmartNYT           2338    reporters
39155029                mkraju           2308    reporters
19847765            sahilkapur           2278    reporters
34613951          BloombergLaw           2268      unknown
15147042         educationweek           2206      unknown
15463671            samsteinhp           2196    reporters
149954544       MorningConsult           2154      unknown
16187637           ChadPergram           2135      unknown
15754281              USATODAY           2091        media
18956073            dcexaminer           2056      unknown
104914594       Phil_Mattingly           2051      unknown
31127446           markknoller           2045      unknown
380648579                  AFP           2015        media
19107878           GlennThrush           2010    reporters
15433452       JenniferJJacobs           1979      unknown
86129724          costareports           1920      unknown
16930125              edatpost           1916    reporters

## Retweets by account type <----------

In [15]:
retweet_join_df.groupby('type').sum()

             retweet_count
type
government           10892
media                84886
politicians          24630
reporters           299580
unknown             928302

## Top (by retweets) accounts that are not known. <----------
These are the accounts that we will want to categorize.

In [16]:
top_not_known_retweets_df = retweet_join_df[retweet_join_df.type == 'unknown'].sort_values('retweet_count', ascending=False)
top_not_known_retweets_df[['retweet_screen_name', 'retweet_count']].head(100)

           retweet_screen_name  retweet_count
user_id
90614279         EENewsUpdates           6548
2312829909               CQnow           6495
93069110             maggieNYT           5751
34713362              business           4105
299802277           BraddJaffy           3056
59331128          PhilipRucker           2843
14529929            jaketapper           2807
207660339          POLITICOPro           2729
14412533           CillizzaCNN           2567
17243582        blakehounshell           2509
48120914              SopanDeb           2470
34613951          BloombergLaw           2268
15147042         educationweek           2206
149954544       MorningConsult           2154
16187637           ChadPergram           2135
18956073            dcexaminer           2056
104914594       Phil_Mattingly           2051
31127446           markknoller           2045
15433452       JenniferJJacobs           1979
86129724          costareports           1920
14515799          brianstelter           1862
326255267                KFILE           1792
259395895         JohnJHarwood           1792
16405372           PoliticsK12           1677
564111558            bpolitics           1597
32871086          kylegriffin1           1547
18772897           reidepstein           1532
16868756              ddiamond           1513
218325695           Bencjacobs           1483
16311797           WSJPolitics           1468
...                        ...            ...
235196204       GlennKesslerWP            974
26133429           Alex_Roarty            973
18686907             davidfrum            970
26792275         ForeignPolicy            969
126722715         abbydphillip            966
22129280            jimsciutto            951
2800581040         BillKristol            948
8953122             PolitiFact            943
15675138                 cspan            939
47455112                lrozen            925
21431618          mckaycoppins            925
14606079            ProPublica            915
22278303       charlesornstein            914
16017475         NateSilver538            912
950531                   pbump            906
3066084185          APBusiness            898
14173315               NBCNews            878
38936142              jdawsey1            875
4207961            chrislhayes            874
370113964           sangerkatz            872
17509945          medpagetoday            865
463765807            Nate_Cohn            854
142721190           elisefoley            847
15210284       nationaljournal            837
22032260             PlattsOil            827
19034656               Publici            812
47448886       JeffreyGoldberg            807
2149973089       APDiploWriter            804
2347049341           voxdotcom            800
459277523         BloombergBNA            795

[100 rows x 2 columns]